ion-title {
    text-align: center;
}

ion-item {
    width: 900px;
    margin: auto;
}

ion-card {
    width: 950px;
    margin: auto;
    background-color: rgb(150, 245, 171);
    border-radius: 10px;
}