<div class="animated fadeIn">

    <div class="title">
        <h1>Lista de Pacientes en OdontodologÍa</h1>
    </div>

    <div class="container1 animated fadeIn borde">

        <div class="avatar-left"></div>
        <div class="table-rigth">
            <ion-card class="card_cola">
                <table id="tabla" class="table table-hover">
                    <thead class="">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Cédula</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Atender</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let odontologia of odontologia | paginate:{itemsPerPage: 5, currentPage: p} ;let i=index;">
                            <th>{{(p-1) * 5 + i + 1}}</th>
                            <td>{{odontologia.nombre_paciente}} </td>
                            <td>{{odontologia.apellido_paciente}}</td>
                            <td>{{odontologia.cedula_paciente}}</td>
                            <td>{{odontologia.telefono_paciente}}</td>
                            <td>
                                <a class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Atender al paciente" [routerLink]="['/odontologia-update/',odontologia.id_col_odontologia]" style="background-color: #156de0; margin-right: 4px;" role="button"><i class="fas fa-angle-double-right"></i></a>
                            </td>
                        </tr>
                        <tr>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </ion-card>
        </div>
    </div>
</div>