<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="titulo">
            <div>
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">

                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <select [(ngModel)]="tipoSonografia" class="form-select form-select-lg mb-3 select subtitulo2">
                                    <option value='1'>OBSTETRICA OBITO</option>
                                    <option value='2'>ABDOMINAL</option>
                                    <option value='3'>TRANS VAGINAL</option>
                                  </select>
                                </ion-col>
                                <ion-col>
                                    <ion-button class="subtitulo2 btn_continuar" type="button" (click)="setVi()" color="primary" shape="shape" expand="block"> Seleccionar </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>

                    </div>
                </nav>
            </div>

        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="showObito">

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label class="subtitulo2" position="floating" stacked>NOMBRE:</ion-label>
                    <ion-input class="subtitulo2" [(ngModel)]="sonoObito.nombre +' '+ sonoObito.apellido"></ion-input>
                </ion-col>
                <ion-col>
                    <ion-label class="subtitulo2" position="floating" stacked>EDAD:</ion-label>
                    <ion-input class="subtitulo2" [(ngModel)]="sonoObito.edad"></ion-input>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">FETO:</label>
                    <select [(ngModel)]="sonoObito.feto" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option value='ÚNICO'>ÚNICO</option>
                            <option value='GEMELAR'>GEMELAR</option>
                            <option value='TRES'>TRES</option>
                            <option value='CUATRO'>CUATRO</option>  
                          </select>
                </ion-col>
            </ion-row>
        </ion-grid>


        <ion-grid>
            <ion-row>
                <ion-col>
                    <label class="subtitulo2">POSICIÓN:</label>
                    <select [(ngModel)]="sonoObito.posicion" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='CEFÁLICO'>CEFÁLICO</option>
                            <option value='PÉLVICO'>PÉLVICO</option>
                            <option value='PODÁLICO'>PODÁLICO</option>      
                          </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">DORSO:</label>
                    <select [(ngModel)]="sonoObito.dorso" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='POSTERIOR DERECHO'>POSTERIOR DERECHO</option>
                            <option value='POSTERIOR IZQUIERDO'>POSTERIOR IZQUIERDO</option>
                            <option value='ANTERIOR DERECHO'>ANTERIOR DERECHO</option>
                            <option value='ANTERIOR IZQUIERDO'>ANTERIOR IZQUIERDO</option>    
                          </select>
                </ion-col>
                <ion-col>
                    <ion-label class="subtitulo2" stacked>PESO:</ion-label>
                    <ion-input class="subtitulo2" type="number" [(ngModel)]="sonoObito.peso"></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>


        <ion-grid>
            <ion-row>
                <ion-col>
                    <label class="subtitulo2" class="subtitulo2">COLUMNA VERTEBRAL:</label>
                    <select [(ngModel)]="sonoObito.columna" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='POCO VALORABLE'>POCO VALORABLE</option>
                            <option value='MORFOLOGICAMENTE NORMAL'>MORFOLOGICAMENTE NORMAL</option>
                            <option value='HALLAZGOS PATOLOGICOS'>HALLAZGOS PATOLOGICOS</option>
                            </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">ESTÓMAGO:</label>
                    <select [(ngModel)]="sonoObito.estomago" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='POCO VALORABLE'>POCO VALORABLE</option>
                            <option value='LLENO'>LLENO</option>
                            <option value='VACIO'>VACIO</option>        
                          </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">RIÑONES:</label>
                    <select [(ngModel)]="sonoObito.rinones" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='NO SE VISUALIZAN'>NO SE VISUALIZAN</option>
                            <option value='SE VISUALIZAN NORMALES'>SE VISUALIZAN NORMALES</option>         
                          </select>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <label class="subtitulo2">VEJIGA:</label>
                    <select [(ngModel)]="sonoObito.vejiga" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='NO SE VISUALIZAN'>NO SE VISUALIZAN</option>
                            <option value='LLENA'>LLENA</option>
                            <option value='VACIA'>VACIA</option>
                      </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">CABEZA:</label>
                    <select [(ngModel)]="sonoObito.cabeza" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='POCO VALORABLE'>POCO VALORABLE</option>
                            <option value='NORMOCEFALICA'>NORMOCEFALICA</option>
                            <option value='ACABALGAMIENTO DE LOS PARIETALES'>ACABALGAMIENTO DE LOS PARIETALES</option>            
                          </select>
                </ion-col>
                <ion-col>
                    <ion-label class="subtitulo2" stacked>FCF:</ion-label>
                    <ion-input class="subtitulo2" type="number" [(ngModel)]="sonoObito.fcf"></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <label class="subtitulo2">PLACENTA:</label>
                    <select [(ngModel)]="sonoObito.placenta" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='FUNDICA'>FUNDICA</option>
                            <option value='ANTERIOR CORPORAL'>ANTERIOR CORPORAL</option>
                            <option value='PREVIA'>PREVIA</option>
                         </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">GRADO:</label>
                    <select [(ngModel)]="sonoObito.grado" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='CERO'>CERO</option>
                            <option value='UNO'>UNO</option>
                            <option value='DOS'>DOS</option>
                            <option value='TRES'>TRES</option>        
                          </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">CORDON:</label>
                    <select [(ngModel)]="sonoObito.cordon" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='NORMAL'>NORMAL</option>
                            <option value='NO VALORABLE'>NO VALORABLE</option>           
                          </select>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>

                <ion-col>
                    <label class="subtitulo2">LÍQUIDO:</label>
                    <select [(ngModel)]="sonoObito.liquido" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='AUSEMNTE'>AUSENTE</option>
                            <option value='NORMAL'>NORMAL</option>
                            <option value='DISMINUIDO'>DISMINUIDO</option>
                          </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">CERVIX:</label>
                    <select [(ngModel)]="sonoObito.cervix" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='ABIERTO'>ABIERTO</option>
                            <option value='CERRADO'>CERRADO</option>     
                          </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">SEXO:</label>
                    <select [(ngModel)]="sonoObito.sexo" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='MASCULINO'>MASCULINO</option>
                            <option value='FEMENINO'>FEMENINO</option>
                            <option value='NO SE VISUALIZA'>NO SE VISUALIZA</option>
                          </select>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label class="subtitulo2" stacked>FPP:</ion-label>
                    <input class="date subtitulo2" [(ngModel)]="sonoObito.fpp" type="date" id="start" name="trip-start" value="2018-07-22" min="1910-01-01" max="2100-01-01">
                </ion-col>
                <ion-col>
                    <ion-label class="subtitulo2 label" stacked>CONCLUSIONES:</ion-label>
                    <ion-textarea class="subtitulo2" [(ngModel)]="sonoObito.conclusiones"></ion-textarea>
                </ion-col>
                <ion-col>
                    <ion-button class="subtitulo2" expand="block" (click)="createObitoPdf()">crear</ion-button>

                    <ion-button class="subtitulo2" expand="block" (click)="printObitoPdf()" [disabled]="!pdfObj">imprimir </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>


    </ion-card>
    <!---AUN SIGO TRABAJANDO EN ESTA PLANTILLA-->
    <ion-card *ngIf="showAbdominal">

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label class="subtitulo2" position="floating" stacked>NOMBRE:</ion-label>
                    <ion-input class="subtitulo2" [(ngModel)]="sonoAbdominal.nombre +' '+ sonoAbdominal.apellido"></ion-input>
                </ion-col>
                <ion-col>
                    <ion-label class="subtitulo2" position="floating" stacked>EDAD:</ion-label>
                    <ion-input class="subtitulo2" [(ngModel)]="sonoAbdominal.edad"></ion-input>
                </ion-col>

            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <label class="subtitulo2">HIGADO</label>
            </ion-row>

        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <label class="subtitulo2">MORFOLOGIA:</label>
                    <select [(ngModel)]="sonoAbdominal.morfologia" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option value='NORMAL'>NORMAL</option>
                            <option value='HETEROGENEA'>HETEROGENEA</option>
                              
                          </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">LESIONES FOCALES:</label>
                    <select [(ngModel)]="sonoAbdominal.lesionesFocales" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='NO SE VISUALIZAN'>NO SE VISUALIZAN</option>
                            <option value='LIQUIDA'>LIQUIDA</option>
                            <option value='TUMORACION SOLIDA'>TUMORACION SOLIDA</option>
                            <option value='LIQUIDAS Y TUMORACIONES SOLIDAS'>AMBAS</option>      
                          </select>
                </ion-col>
                <ion-col>
                    <ion-label class="subtitulo2" stacked>MEDIDA:</ion-label>
                    <ion-input class="subtitulo2" type="number" [(ngModel)]="sonoAbdominal.medidaHigado"></ion-input>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">VIAS BILIARES:</label>
                    <select [(ngModel)]="sonoAbdominal.viasBiliares" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='DILATADAS.'>DILATADA</option>
                            <option value='SIN DILATAR.'>SIN DILATAR</option>
                              
                          </select>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <label class="subtitulo2">VESICULA BILIAR:</label>
                <ion-toggle color="primary" [(ngModel)]="toggleVesicula" (ionChange)="vesicula()"></ion-toggle>
            </ion-row>
        </ion-grid>


        <ion-grid *ngIf="showVesicula">
            <ion-row>
                <ion-col>
                    <label class="subtitulo2" class="subtitulo2">FORMA:</label>
                    <select [(ngModel)]="sonoAbdominal.vesiculaForma" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='DE FORMA PIRIFORME'> PIRIFORME</option>
                            <option value='DE FORMA SEPTADA'>SEPTADA</option>
                            <option value='DE FORMA TRABECULADA'>TRABECULADA</option>
                            <option value='NO SE VISUALIZA'>NO SE VISUALIZA</option>
                            </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">SITUACION:</label>
                    <select [(ngModel)]="sonoAbdominal.vesiculaSituacion" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='NORMAL'>NORMAL</option>
                            <option value='ANORMAL'>ANORMAL</option>    
                          </select>
                </ion-col>

                <ion-col>
                    <label class="subtitulo2">PARED:</label>
                    <ion-input class="subtitulo2" type="number" [(ngModel)]="sonoAbdominal.vesiculaPared"></ion-input>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">LONGITUD:</label>
                    <ion-input class="subtitulo2" type="number" [(ngModel)]="sonoAbdominal.vesiculaLongitud"></ion-input>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">ANCHO:</label>
                    <ion-input class="subtitulo2" type="number" [(ngModel)]="sonoAbdominal.vesiculaAncho"></ion-input>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">LITOS:</label>
                    <select [(ngModel)]="sonoAbdominal.vesiculaLitos" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='NO SE VISUALIZAN '>NO SE VISUALIZAN</option>
                            <option value='SE VISUALIZAN NORMALES '>SE VISUALIZAN</option>
                            <option value='SE VISUALIZAN BARROS '>SE VISUALIZAN BARROS</option>         
                          </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">POLIPOS:</label>
                    <select [(ngModel)]="sonoAbdominal.vesiculaPolipos" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='PRESENTES.'>PRESENTES</option>
                            <option value='AUSENTES.'>AUSENTES</option>
                      </select>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
               
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <label class="subtitulo2">PANCREAS:</label>
                
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <label class="subtitulo2">FORMA:</label>
                    <select [(ngModel)]="sonoAbdominal.pancreasForma" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='DE FORMA NORMAL'>NORMAL</option>
                            <option value='DE FORMA IRREGULAR'>IRREGULAR</option>
                   </select>
                </ion-col>
                <ion-col>




                </ion-col>
                <ion-col>
                    <label class="subtitulo2">CABEZA:</label>
                    <ion-input class="subtitulo2" type="number" [(ngModel)]="sonoAbdominal.pancreasCabeza"></ion-input>
                </ion-col>

                <ion-col>
                    <label class="subtitulo2">CUERPO:</label>
                    <ion-input class="subtitulo2" type="number" [(ngModel)]="sonoAbdominal.pancreasCuerpo"></ion-input>
                </ion-col>




            </ion-row>
        </ion-grid>


        <ion-grid>
            <ion-row>
                <ion-col>
                    <label class="subtitulo2">COLA:</label>
                    <ion-input class="subtitulo2" type="number" [(ngModel)]="sonoAbdominal.pancreasCola"></ion-input>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">CONTORNO:</label>
                    <select [(ngModel)]="sonoAbdominal.pancreasContorno" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value=' REGULARES, '>REGULARES</option>
                            <option value=' IRREGULAR, '>IRREGULAR</option>
                            
                         </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">ECOGENECIDAD:</label>
                    <select [(ngModel)]="sonoAbdominal.pancreasEcogenicidad" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='HOMOGENEA'>HOMOGENEA</option>
                            <option value='HETEROGENEA'>HETEROGENEA</option>
                            <option value='HIPERECOICA'>HIPERECOICA</option>
                          </select>
                </ion-col>

            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <label class="subtitulo2">RIÑON DERECHO:</label>
                <ion-toggle color="primary" [(ngModel)]="toggleRinond" (ionChange)="rinond()"></ion-toggle>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="showRinond">
            <ion-row>
                <ion-col>
                    <label class="subtitulo2">SITUACION:</label>
                    <select [(ngModel)]="sonoAbdominal.rinondVisualiza" class="form-select form-select-lg mb-3 select subtitulo2">
                        <option  value=' SE VISUALIZA NORMAL'>NORMAL</option>
                        <option  value=' NO SE VISUALIZA'>NO SE VISUALIZA</option>
                        <option value=' ECTOPICO'>ECTOPICO</option>           
                    </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">FORMA:</label>
                    <select [(ngModel)]="sonoAbdominal.rinondForma" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value=' IRREGULAR '>IRREGULAR</option>
                            <option value=' NORMAL '>NORMAL</option>
                          </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">CONTORNO:</label>
                    <select [(ngModel)]="sonoAbdominal.rinondContornos" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value=' REGULAR '>REGULAR</option>
                            <option value=' IRREGULAR '>IRREGULAR</option>     
                          </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">CORTEZA:</label>
                    <select [(ngModel)]="sonoAbdominal.rinondRelacion" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value=' CONSERVADA '>CONSERVADA</option>
                            <option value=' DILATADA '>DILATADA</option>
                          </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">EVIDENCIA:</label>
                    <select [(ngModel)]="sonoAbdominal.rinondEvidencia" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value=' SI '> SI EXISTE</option>
                            <option value=' NO '>NO EXISTE</option>
                          </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">LITIASIS:</label>
                    <select [(ngModel)]="sonoAbdominal.rinondLitiasis" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value=' PRESENTE '>PRESENTE</option>
                            <option value=' AUSENTE '>AUSENTE</option>
                            <option value=' SEVERA '>SEVERA</option>
                            <option value=' MICROLITIASIS '>MICROLITIASIS</option>
                          </select>
                </ion-col>

                <ion-col>
                    <label class="subtitulo2">TUMORACIONES:</label>
                    <select [(ngModel)]="sonoAbdominal.rinondTumoraciones" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value=' SOLIDAS.'>SOLIDAS</option>
                            <option value=' LIQUIDAS.'>LIQUIDAS</option>
                            <option value=' SOLIDAS Y LIQUIDAS.'>AMBAS</option>
                            <option value=' NO SE VISUALIZAN.'>NO SE VISUALIZAN</option>
                            </select>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <label class="subtitulo2">RIÑON IZQUIERDO:</label>
                <ion-toggle color="primary" [(ngModel)]="toggleRinonl" (ionChange)="rinonl()">  </ion-toggle>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="showRinonl">
            <ion-row>
                <ion-col>
                    <label class="subtitulo2">SITUACION:</label>
                    <select [(ngModel)]="sonoAbdominal.rinonlVisualiza" class="form-select form-select-lg mb-3 select subtitulo2">
                        <option  value=' SE VISUALIZA NORMAL '>NORMAL</option>
                        <option  value=' NO SE VISUALIZA '>NO SE VISUALIZA</option>
                        <option value=' ECTOPICO '>ECTOPICO</option>           
                    </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">FORMA:</label>
                    <select [(ngModel)]="sonoAbdominal.rinonlForma" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value=' IRREGULAR'>IRREGULAR</option>
                            <option value=' NORMAL '>NORMAL</option>
                          </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">CONTORNO:</label>
                    <select [(ngModel)]="sonoAbdominal.rinonlContornos" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value=' REGULAR '>REGULAR</option>
                            <option value=' IRREGULAR '>IRREGULAR/option>     
                          </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">CORTEZA:</label>
                    <select [(ngModel)]="sonoAbdominal.rinonlRelacion" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value=' CONSERVADA '>CONSERVADA</option>
                            <option value=' DILATADA '>DILATADA</option>
                          </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">EVIDENCIA:</label>
                    <select [(ngModel)]="sonoAbdominal.rinonlEvidencia" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value=' SI '>SI EXISTE</option>
                            <option value=' NO '>NO EXISTE</option>
                          </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">LITIASIS:</label>
                    <select [(ngModel)]="sonoAbdominal.rinonlLitiasis" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='PRESENTE'>PRESENTE</option>
                            <option value='AUSENTE'>AUSENTE</option>
                            <option value='SEVERA'>SEVERA</option>
                            <option value='MICROLITIASIS'>MICROLITIASIS</option>
                          </select>
                </ion-col>

                <ion-col>
                    <label class="subtitulo2">TUMORACIONES:</label>
                    <select [(ngModel)]="sonoAbdominal.rinonlTumoraciones" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value=' SOLIDAS.'>SOLIDAS</option>
                            <option value=' LIQUIDAS.'>LIQUIDAS</option>
                            <option value=' SOLIDAS Y LIQUIDAS.'>AMBAS</option>
                            <option value=' NO SE VISUALIZAN.'>NO SE VISUALIZAN</option>
                       
                          </select>
                </ion-col>
            </ion-row>
        </ion-grid>





        <ion-grid>
            <ion-row>
                <label class="subtitulo2">EL BAZO:</label>
                <ion-toggle color="primary" [(ngModel)]="toggleBazo" (ionChange)="bazo()"></ion-toggle>
            </ion-row>
        </ion-grid>
    <ion-card *ngIf="showBazo">
        <ion-grid >
            <ion-row>
                <ion-col>
                    <label class="subtitulo2">SITUACION:</label>
                    <select [(ngModel)]="sonoAbdominal.bazoVisualiza" class="form-select form-select-lg mb-3 select subtitulo2">
                        <option  value=' SE VISUALIZA NORMAL '>NORMAL</option>
                        <option  value=' NO SE VISUALIZA '>NO SE VISUALIZA</option>         
                    </select>
                </ion-col>

                <ion-col>
                    <label class="subtitulo2">FORMA:</label>
                    <select [(ngModel)]="sonoAbdominal.bazoForma" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value=' IRREGULAR '>IRREGULAR</option>
                            <option value=' NORMAL '>NORMAL</option>
                          </select>
                </ion-col>

                <ion-col>
                    <label class="subtitulo2">ECOTEXTURA:</label>
                    <select [(ngModel)]="sonoAbdominal.bazoEcotextura" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='HOMOGENEA'>HOMOGENEA</option>
                            <option value='HETEROGENEA'>HETEROGENEA</option>
                            <option value='COLECCION DE LIQUIDOS'>COLECCION DE LIQUIDOS</option>
                          </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">TUMORACIONES:</label>
                    <select [(ngModel)]="sonoAbdominal.bazoTumoraciones" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value='AUSENTES'>AUSENTES</option>   
                            <option value='IRREGULAR'>IRREGULAR</option>     
                          </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">LONGITUD:</label>
                    <ion-input class="subtitulo2" type="number" [(ngModel)]="sonoAbdominal.bazoLongitud"></ion-input>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">ANCHO:</label>
                    <ion-input class="subtitulo2" type="number" [(ngModel)]="sonoAbdominal.bazoAncho"></ion-input>
                </ion-col>

              
            </ion-row>
        </ion-grid>
    </ion-card>    
        <ion-grid>
            <ion-row>
                <label class="subtitulo2">AORTA ABDOMINAL:</label>

            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <label class="subtitulo2">DE DIAMETRO:</label>
                    <select [(ngModel)]="sonoAbdominal.aortaDiametro" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value=' DENTRO DE LOS LIMITES NORMALES '>DENTRO</option>   
                            <option value='FUERA DE LOS LIMITES NORMALES'>FUERA</option>     
                          </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">VALOR:</label>
                    <ion-input class="subtitulo2" type="number" [(ngModel)]="sonoAbdominal.aortaValor"></ion-input>
                </ion-col>
               
                
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <label class="subtitulo2">CONCLUSIONES GENERALES:</label>
                    <textarea type="text" id="form7" [(ngModel)]="sonoAbdominal.conclusiones" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                 </ion-col>

            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button class="subtitulo2" expand="block" (click)="checkAbdominalPdf()">crear</ion-button>
                </ion-col>

                <ion-col>
                    <ion-button class="subtitulo2" expand="block" (click)="printAbdominalPdf()" [disabled]="!pdfObj">imprimir </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-list *ngIf="showTransV">
        <ion-item>
            <h1 class="subtitulo2">Sonografia Transvaginal</h1>


            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked></ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Feto</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <!-- <ion-button (click)="createPdf()">crear</ion-button> -->
        </ion-item>
        <ion-item>
            <!-- <ion-button (click)="printPdf()" [disabled]="!pdfObj">imprimir </ion-button> -->
        </ion-item>
    </ion-list>

</ion-content>