.card_Obit {
    width: 90%;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
    margin-top: 20px;
}

.card_abdominal {
    width: 90%;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
    margin-top: 20px;
}

ion-grid {
    width: 100%;
}

ion-title {
    text-align: center;
    height: 80px;
}

ion-toggle {
    margin: auto;
    margin-left: 40px;
}

.select {
    width: 250px;
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
}

.btn_continuar {
    height: 35px;
    width: 250px;
    margin: auto;
    margin-right: 720px;
    margin-bottom: 8px;
}

.date {
    background-color: white;
    border-radius: 20px;
    width: 250px;
    height: 38px;
    border: solid 1px rgb(62, 199, 130);
    margin: auto;
    margin-left: 40px;
}

.textarea {
    background-color: white;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    border: solid 1px rgb(74, 241, 116);
    color: rgb(0, 0, 0);
}

.inputs {
    width: 250px;
    border-radius: 20px;
    margin: auto;
}

.select_ubito {
    height: 38px;
    font-size: 13px;
    width: 250px;
    margin: auto;
    border-radius: 20px;
}

.borde_gris_input {
    border-radius: 20px;
    width: 80px;
}

.input_borde_gris {
    border-radius: 20px;
    width: 100px;
}

.btn_crear {
    width: 95%;
    margin: auto;
}

.btn_imprimir {
    width: 95%;
    margin: auto;
}

ion-label {
    margin-left: 50px;
}

.label_toggle {
    margin-top: 15px;
    margin-left: 50px;
}

.label_vesicular {
    margin-left: 100px;
}

.label_riderecho {
    margin-left: 100px;
}

.label_bazo {
    margin-left: 100px;
}