<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="titulo">
            <div>
                <nav class="navbar navbar-light ">
                    <div class="container-fluid">

                        <div>
                            <select *ngIf="showWoman" [(ngModel)]="tipoSonografia" class="form-select form-select-lg mb-3 select normal">
                                tipo de sonografia
                                                <option value='1'>OBSTETRICA OBITO</option>
                                                <option value='2'>ABDOMINAL</option>
                                                <option value='3'>TRANS VAGINAL</option>
                                              </select>
                        </div>
                        <div>
                            <select *ngIf="!showWoman" [(ngModel)]="tipoSonografia" class="form-select form-select-lg mb-3 select normal">
                                tipo de sonografia
                                                
                                                <option value='2'>ABDOMINAL</option>
                                                <option value='3'>TRANS VAGINAL</option>
                                              </select>
                        </div>
                        <div>
                            <ion-button class="subtitulo2 btn_continuar " type="button" (click)="setVi()" color="success" shape="round" expand="block"> continuar </ion-button>
                        </div>

                    </div>
                </nav>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--Sonografia obstetrica obito-->
    <ion-card class="card_Obit" *ngIf="showObito">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <ion-label>Nombre:</ion-label>
                        <input type="text" [(ngModel)]="sonoObito.nombre +' '+ sonoObito.apellido" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>

                    <div class="mt-2 inputIcon">
                        <ion-label>Edad:</ion-label>
                        <input type="number" [(ngModel)]="sonoObito.edad" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label>Feto:</ion-label>
                        <select [(ngModel)]="sonoObito.feto" class="form-select form-select-lg select_ubito subtitulo2">
                        <option value='ÚNICO'>ÚNICO</option>
                        <option value='GEMELAR'>GEMELAR</option>
                        <option value='TRES'>TRES</option>
                        <option value='CUATRO'>CUATRO</option>
                      </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label>Posición:</ion-label>
                        <select [(ngModel)]="sonoObito.posicion" class="form-select form-select-lg select_ubito subtitulo2">
                            <option  value='CEFÁLICO'>CEFÁLICO</option>
                            <option value='PÉLVICO'>PÉLVICO</option>
                            <option value='PODÁLICO'>PODÁLICO</option>      
                          </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label>Dorso:</ion-label>
                        <select [(ngModel)]="sonoObito.dorso" class="form-select form-select-lg select_ubito subtitulo2">
                        <option  value='POSTERIOR DERECHO'>POSTERIOR DERECHO</option>
                        <option value='POSTERIOR IZQUIERDO'>POSTERIOR IZQUIERDO</option>
                        <option value='ANTERIOR DERECHO'>ANTERIOR DERECHO</option>
                        <option value='ANTERIOR IZQUIERDO'>ANTERIOR IZQUIERDO</option>
                       </select>
                    </div>
                </ion-col>

                <ion-col>

                    <div class="mt-2 inputIcon">
                        <ion-label>Peso:</ion-label>
                        <input type="number" [(ngModel)]="sonoObito.peso" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label>Columna:</ion-label>
                        <select [(ngModel)]="sonoObito.columna" class="form-select form-select-lg select_ubito subtitulo2">
                            <option  value='POCO VALORABLE'>POCO VALORABLE</option>
                            <option value='MORFOLOGICAMENTE NORMAL'>MORFOLOGICAMENTE NORMAL</option>
                            <option value='HALLAZGOS PATOLOGICOS'>HALLAZGOS PATOLOGICOS</option>
                            </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label>Estómago:</ion-label>
                        <select [(ngModel)]="sonoObito.estomago" class="form-select form-select-lg select_ubito subtitulo2">
                            <option  value='POCO VALORABLE'>POCO VALORABLE</option>
                            <option value='LLENO'>LLENO</option>
                            <option value='VACIO'>VACIO</option>
                          </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label>Riñones:</ion-label>
                        <select [(ngModel)]="sonoObito.rinones" class="form-select form-select-lg select_ubito subtitulo2">
                            <option  value='NO SE VISUALIZAN'>NO SE VISUALIZAN</option>
                            <option value='SE VISUALIZAN NORMALES'>SE VISUALIZAN NORMALES</option>
                          </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label>Vejiga:</ion-label>
                        <select [(ngModel)]="sonoObito.vejiga" class="form-select form-select-lg select_ubito normal">
                       <option  value='NO SE VISUALIZAN'>NO SE VISUALIZAN</option>
                       <option value='LLENA'>LLENA</option>
                      <option value='VACIA'>VACIA</option>
                    </select>
                    </div>

                </ion-col>

                <ion-col>

                    <div class="mt-2 inputIcon">
                        <ion-label>Cabeza:</ion-label>
                        <select [(ngModel)]="sonoObito.cabeza" class="form-select form-select-lg select_ubito subtitulo2">
                        <option  value='POCO VALORABLE'>POCO VALORABLE</option>
                        <option value='NORMOCEFALICA'>NORMOCEFALICA</option>
                     <option value='ACABALGAMIENTO DE LOS PARIETALES'>ACABALGAMIENTO DE LOS PARIETALES</option>
                    </select>
                    </div>

                    <div class="mt-2 inputIcon">
                        <ion-label>FCF:</ion-label>
                        <input type="number" [(ngModel)]="sonoObito.fcf" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label>Placenta:</ion-label>
                        <select [(ngModel)]="sonoObito.placenta" class="form-select form-select-lg select_ubito subtitulo2">
                            <option  value='FUNDICA'>FUNDICA</option>
                            <option value='ANTERIOR CORPORAL'>ANTERIOR CORPORAL</option>
                            <option value='PREVIA'>PREVIA</option>
                         </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label>Grado:</ion-label>
                        <select [(ngModel)]="sonoObito.grado" class="form-select form-select-lg select_ubito subtitulo2">
                            <option  value='CERO'>CERO</option>
                            <option value='UNO'>UNO</option>
                            <option value='DOS'>DOS</option>
                            <option value='TRES'>TRES</option>
                          </select>
                    </div>

                    <div class="mt-2 inputIcon">
                        <ion-label>Cordon:</ion-label>
                        <select [(ngModel)]="sonoObito.cordon" class="form-select form-select-lg select_ubito subtitulo2">
                            <option  value='NORMAL'>NORMAL</option>
                            <option value='NO VALORABLE'>NO VALORABLE</option>
                          </select>
                    </div>
                </ion-col>

                <ion-col>

                    <div class="mt-2 inputIcon">
                        <ion-label>Líquido:</ion-label>
                        <select [(ngModel)]="sonoObito.liquido" class="form-select form-select-lg  select_ubito subtitulo2">
                            <option  value='AUSEMNTE'>AUSENTE</option>
                            <option value='NORMAL'>NORMAL</option>
                            <option value='DISMINUIDO'>DISMINUIDO</option>
                          </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label>Cervix:</ion-label>
                        <select [(ngModel)]="sonoObito.cervix" class="form-select form-select-lg  select_ubito subtitulo2">
                            <option  value='ABIERTO'>ABIERTO</option>
                            <option value='CERRADO'>CERRADO</option>
                          </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label>Sexo:</ion-label>
                        <select [(ngModel)]="sonoObito.sexo" class="form-select form-select-lg select_ubito subtitulo2">
                            <option  value='MASCULINO'>MASCULINO</option>
                            <option value='FEMENINO'>FEMENINO</option>
                            <option value='NO SE VISUALIZA'>NO SE VISUALIZA</option>
                          </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label>Fecha de nacimiento:</ion-label>
                        <input class="date subtitulo2" placeholder="Fecha de nacimiento" [(ngModel)]="sonoObito.fpp" type="date" id="start" name="trip-start" value="2018-07-22" min="1910-01-01" max="hoy">
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

        <hr class="mt-2 inputIcon" style="width:95%; margin: auto;">

        <ion-grid>
            <ion-row>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <ion-label>Conclusiones:</ion-label>
                        <ion-textarea class="textarea" [(ngModel)]="sonoObito.conclusiones" placeholder="Agregue las conclusiones aqui..."></ion-textarea>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-button class="subtitulo2 btn_crear" expand="block" shape="round" (click)="createObitoPdf()">crear</ion-button>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-button class="subtitulo2 btn_imprimir" expand="block" shape="round" (click)="printObitoPdf()" [disabled]="!pdfObj">imprimir </ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-card>

    <!--Sonografia abdominal-->

    <ion-card class="card_abdominal" *ngIf="showAbdominal">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <ion-label>Nombre:</ion-label>
                        <input type="text" [(ngModel)]="sonoAbdominal.nombre +' '+ sonoAbdominal.apellido" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>

                    <div class="mt-2 inputIcon">
                        <ion-label>Edad:</ion-label>
                        <input type="number" [(ngModel)]="sonoAbdominal.edad" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label>Feto:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.morfologia" class="form-select form-select-lg select_ubito subtitulo2">
                       <option value='NORMAL'>NORMAL</option>
                       <option value='HETEROGENEA'>HETEROGENEA</option>
                      </select>
                    </div>
                </ion-col>

                <ion-col>
                    <div class="mt-2 inputIcon">
                        <ion-label>Posición:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.lesionesFocales" class="form-select form-select-lg select_ubito subtitulo2">
                            <option  value='NO SE VISUALIZAN'>NO SE VISUALIZAN</option>
                            <option value='LIQUIDA'>LIQUIDA</option>
                            <option value='TUMORACION SOLIDA'>TUMORACION SOLIDA</option>
                            <option value='LIQUIDAS Y TUMORACIONES SOLIDAS'>AMBAS</option>     
                          </select>
                    </div>

                    <div class="mt-2 inputIcon">
                        <ion-label>Dorso:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.viasBiliares" class="form-select form-select-lg select_ubito subtitulo2">
                            <option  value='DILATADAS.'>DILATADA</option>
                            <option value='SIN DILATAR.'>SIN DILATAR</option>
                       </select>
                    </div>

                    <div class="mt-2 inputIcon">
                        <ion-label>Columna:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.vesiculaForma" class="form-select form-select-lg select_ubito subtitulo2">
                            <option  value='DE FORMA PIRIFORME'> PIRIFORME</option>
                            <option value='DE FORMA SEPTADA'>SEPTADA</option>
                            <option value='DE FORMA TRABECULADA'>TRABECULADA</option>
                            <option value='NO SE VISUALIZA'>NO SE VISUALIZA</option>
                            </select>
                    </div>

                </ion-col>

                <ion-col>
                    <div class="mt-2 inputIcon">
                        <ion-label>Forma:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.pancreasForma" class="form-select form-select-lg select_ubito subtitulo2">
                            <option  value='DE FORMA NORMAL'>NORMAL</option>
                            <option value='DE FORMA IRREGULAR'>IRREGULAR</option>
                      </select>
                    </div>

                    <div class="mt-2 inputIcon">
                        <ion-label>Cabeza:</ion-label>
                        <input type="text" [(ngModel)]="sonoAbdominal.pancreasCabeza" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>

                    <div class="mt-2 inputIcon">
                        <ion-label>Cuerpo:</ion-label>
                        <input type="text" [(ngModel)]="sonoAbdominal.pancreasCuerpo" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>

                </ion-col>

                <ion-col>

                    <div class="mt-2 inputIcon">
                        <ion-label>Cola:</ion-label>
                        <input type="text" [(ngModel)]="sonoAbdominal.pancreasCola" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label>Contorno:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.pancreasContorno" class="form-select form-select-lg  select_ubito  subtitulo2">
                            <option  value=' REGULARES, '>REGULARES</option>
                            <option value=' IRREGULAR, '>IRREGULAR</option>
                         </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label>Ecogenecidad:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.pancreasEcogenicidad" class="form-select form-select-lg select_ubito subtitulo2">
                            <option  value='HOMOGENEA'>HOMOGENEA</option>
                            <option value='HETEROGENEA'>HETEROGENEA</option>
                            <option value='HIPERECOICA'>HIPERECOICA</option>
                          </select>
                    </div>

                </ion-col>
            </ion-row>
        </ion-grid>
        <hr class="mt-2 inputIcon" style="width:95%; margin: auto;">

        <div class="mt-2 inputIcon">
            <ion-label class="label_toggle">Vesicula Biliar:</ion-label>
        </div>
        <div>
            <ion-toggle color="success" [(ngModel)]="toggleVesicula" (ionChange)="vesicula()"></ion-toggle>
        </div>


        <!--Este usa un toggle-->
        <ion-grid *ngIf="showVesicula">
            <ion-row>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <ion-label class="label_vesicular">Situación:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.vesiculaSituacion" class="form-select form-select-lg select_ubito subtitulo2">
                        <option  value='NORMAL'>NORMAL</option>
                        <option value='ANORMAL'>ANORMAL</option>
                        </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label class="label_vesicular">Pared:</ion-label>
                        <input type="text" [(ngModel)]="sonoAbdominal.vesiculaPared" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <ion-label class="label_vesicular">Longitud:</ion-label>
                        <input type="text" [(ngModel)]="sonoAbdominal.vesiculaLongitud" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label class="label_vesicular">Ancho:</ion-label>
                        <input type="text" [(ngModel)]="sonoAbdominal.vesiculaAncho" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <ion-label class="label_vesicular">Litos:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.vesiculaLitos" class="form-select form-select-lg select_ubito subtitulo2">
                    <option  value='NO SE VISUALIZAN '>NO SE VISUALIZAN</option>
                      <option value='SE VISUALIZAN NORMALES '>SE VISUALIZAN</option>
                      <option value='SE VISUALIZAN BARROS '>SE VISUALIZAN BARROS</option>
                    </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label class="label_vesicular">Polipos:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.vesiculaPolipos" class="form-select form-select-lg select_ubito subtitulo2">
                                <option  value='PRESENTES.'>PRESENTES</option>
                                <option value='AUSENTES.'>AUSENTES</option>
                          </select>
                    </div>

                </ion-col>

            </ion-row>
        </ion-grid>
        <hr class="mt-2 inputIcon" style="width:95%; margin: auto;">
        <div class="mt-2 inputIcon">
            <ion-label class="label_toggle">Riñón Derecho:</ion-label>
        </div>
        <div>
            <ion-toggle color="success" [(ngModel)]="toggleRinond" (ionChange)="rinond()"></ion-toggle>
        </div>
        <!--Este usa un toggle-->

        <ion-grid *ngIf="showRinond">
            <ion-row>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <ion-label class="label_riderecho">Situación:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.rinondVisualiza" class="form-select form-select-lg select_ubito subtitulo2">
                        <option  value=' SE VISUALIZA NORMAL'>NORMAL</option>
                        <option  value=' NO SE VISUALIZA'>NO SE VISUALIZA</option>
                        <option value=' ECTOPICO'>ECTOPICO</option>
                    </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label class="label_riderecho">Forma:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.rinondForma" class="form-select form-select-lg select_ubito subtitulo2">
                            <option  value=' IRREGULAR '>IRREGULAR</option>
                            <option value=' NORMAL '>NORMAL</option>
                          </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label class="label_riderecho">Contorno:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.rinondContornos" class="form-select form-select-lg select_ubito subtitulo2">
                            <option  value=' REGULAR '>REGULAR</option>
                            <option value=' IRREGULAR '>IRREGULAR</option>
                          </select>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <ion-label class="label_riderecho">Corteza:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.rinondRelacion" class="form-select form-select-lg select_ubito subtitulo2">
                                <option  value=' CONSERVADA '>CONSERVADA</option>
                                <option value=' DILATADA '>DILATADA</option>
                              </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label class="label_riderecho">Evidencia:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.rinondEvidencia" class="form-select form-select-lg select_ubito subtitulo2">
                                <option  value=' SI '> SI EXISTE</option>
                                <option value=' NO '>NO EXISTE</option>
                              </select>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <ion-label class="label_riderecho">Litiasis:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.rinondLitiasis" class="form-select form-select-lg select_ubito subtitulo2">
                                    <option  value=' PRESENTE '>PRESENTE</option>
                                    <option value=' AUSENTE '>AUSENTE</option>
                                    <option value=' SEVERA '>SEVERA</option>
                                    <option value=' MICROLITIASIS '>MICROLITIASIS</option>
                                  </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label class="label_riderecho">Tumoraciones:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.rinondTumoraciones" class="form-select form-select-lg select_ubito subtitulo2">
                                <option  value=' SOLIDAS.'>SOLIDAS</option>
                                <option value=' LIQUIDAS.'>LIQUIDAS</option>
                                <option value=' SOLIDAS Y LIQUIDAS.'>AMBAS</option>
                                <option value=' NO SE VISUALIZAN.'>NO SE VISUALIZAN</option>
                                </select>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <hr class="mt-2 inputIcon" style="width:95%; margin: auto;">
        <div class="mt-2 inputIcon">
            <ion-label class="label_toggle">Riñón Izquierdo:</ion-label>
        </div>
        <div>
            <ion-toggle color="success" [(ngModel)]="toggleRinonl" (ionChange)="rinonl()"> </ion-toggle>
        </div>

        <!--Este usa un toggle-->

        <ion-grid *ngIf="showRinonl">
            <ion-row>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <ion-label>Situación:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.rinonlVisualiza" class="form-select form-select-lg select_ubito subtitulo2">
                    <option  value=' SE VISUALIZA NORMAL '>NORMAL</option>
                    <option  value=' NO SE VISUALIZA '>NO SE VISUALIZA</option>
                    <option value=' ECTOPICO '>ECTOPICO</option>
                </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label>Forma:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.rinonlForma" class="form-select form-select-lg select_ubito subtitulo2">
                        <option  value=' IRREGULAR'>IRREGULAR</option>
                        <option value=' NORMAL '>NORMAL</option>
                      </select>
                    </div>

                </ion-col>
                <ion-col>

                    <div class="mt-2 inputIcon">
                        <ion-label>Contorno:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.rinonlContornos" class="form-select form-select-lg select_ubito subtitulo2">
                        <option  value=' REGULAR '>REGULAR</option>
                        <option value=' IRREGULAR '>IRREGULAR/option>
                      </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label>Corteza:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.rinonlRelacion" class="form-select form-select-lg select_ubito subtitulo2">
                        <option  value=' CONSERVADA '>CONSERVADA</option>
                        <option value=' DILATADA '>DILATADA</option>
                      </select>
                    </div>
                </ion-col>
                <ion-col>

                    <div class="mt-2 inputIcon">
                        <ion-label>Evidencia:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.rinonlEvidencia" class="form-select form-select-lg select_ubito subtitulo2">
                            <option  value=' SI '>SI EXISTE</option>
                            <option value=' NO '>NO EXISTE</option>
                      </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label>Litiasis:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.rinonlLitiasis" class="form-select form-select-lg select_ubito subtitulo2">
                        <option  value='PRESENTE'>PRESENTE</option>
                        <option value='AUSENTE'>AUSENTE</option>
                        <option value='SEVERA'>SEVERA</option>
                        <option value='MICROLITIASIS'>MICROLITIASIS</option>
                      </select>
                    </div>
                </ion-col>
                <ion-col>

                    <div class="mt-2 inputIcon">
                        <ion-label>Tumoraciones:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.rinonlTumoraciones" class="form-select form-select-lg select_ubito subtitulo2">
                        <option  value=' SOLIDAS.'>SOLIDAS</option>
                        <option value=' LIQUIDAS.'>LIQUIDAS</option>
                        <option value=' SOLIDAS Y LIQUIDAS.'>AMBAS</option>
                        <option value=' NO SE VISUALIZAN.'>NO SE VISUALIZAN</option>
                      </select>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <hr class="mt-2 inputIcon" style="width:95%; margin: auto;">
        <div class="mt-2 inputIcon">
            <ion-label class="label_toggle">El Bazo:</ion-label>
        </div>
        <div>
            <ion-toggle color="success" [(ngModel)]="toggleBazo" (ionChange)="bazo()"></ion-toggle>
        </div>

        <!--Este usa un toggle-->

        <ion-grid *ngIf="showBazo">
            <ion-row>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <ion-label class="label_bazo">Situación:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.bazoVisualiza" class="form-select form-select-lg select_ubito subtitulo2">
                            <option  value=' SE VISUALIZA NORMAL '>NORMAL</option>
                            <option  value=' NO SE VISUALIZA '>NO SE VISUALIZA</option>
                        </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label class="label_bazo">Ecotextura:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.bazoEcotextura" class="form-select form-select-lg select_ubito subtitulo2">
                                <option  value='HOMOGENEA'>HOMOGENEA</option>
                                <option value='HETEROGENEA'>HETEROGENEA</option>
                                <option value='COLECCION DE LIQUIDOS'>COLECCION DE LIQUIDOS</option>
                              </select>
                    </div>
                </ion-col>

                <ion-col>
                    <div class="mt-2 inputIcon">
                        <ion-label class="label_bazo">Tumoraciones:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.bazoTumoraciones" class="form-select form-select-lg select_ubito subtitulo2">
                                <option  value='AUSENTES'>AUSENTES</option>
                                <option value='IRREGULAR'>IRREGULAR</option>
                              </select>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-label class="label_vesicular">Longitud:</ion-label>
                        <input type="text" [(ngModel)]="sonoAbdominal.bazoLongitud" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                </ion-col>

                <ion-col>
                    <div class="mt-2 inputIcon">
                        <ion-label class="label_bazo">Ancho:</ion-label>
                        <input type="number" [(ngModel)]="sonoAbdominal.bazoAncho" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

        <hr class="mt-2 inputIcon" style="width:95%; margin: auto;">

        <ion-grid>
            <ion-row>

                <ion-col>

                    <div class="mt-2 inputIcon">
                        <ion-label class="label_final">Diámetro:</ion-label>
                        <select [(ngModel)]="sonoAbdominal.aortaDiametro" class="form-select form-select-lg select_ubito subtitulo2">
                                <option  value=' DENTRO DE LOS LIMITES NORMALES '>DENTRO</option>
                                <option value='FUERA DE LOS LIMITES NORMALES'>FUERA</option>
                                  </select>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <ion-label class="label_final">Valor:</ion-label>
                        <input type="number" [(ngModel)]="sonoAbdominal.aortaValor" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                </ion-col>

            </ion-row>
        </ion-grid>

        <hr class="mt-2 inputIcon" style="width:95%; margin: auto;">

        <ion-grid>
            <ion-row>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <ion-label>Conclusiones:</ion-label>
                        <ion-textarea class="textarea" [(ngModel)]="sonoAbdominal.conclusiones" placeholder="Agregue las conclusiones aqui..."></ion-textarea>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-button class="subtitulo2 btn_crear" expand="block" shape="round" (click)="checkAbdominalPdf()">crear</ion-button>
                    </div>
                    <div class="mt-2 inputIcon">
                        <ion-button class="subtitulo2 btn_imprimir" expand="block" shape="round" (click)="printAbdominalPdf()" [disabled]="!pdfObj">imprimir </ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>


    </ion-card>




    <!-- >



     
        <ion-grid>
            <ion-row>
                <label class="subtitulo2">AORTA ABDOMINAL:</label>

            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <label class="subtitulo2">DE DIAMETRO:</label>
                    <select [(ngModel)]="sonoAbdominal.aortaDiametro" class="form-select form-select-lg mb-3 select subtitulo2">
                            <option  value=' DENTRO DE LOS LIMITES NORMALES '>DENTRO</option>
                            <option value='FUERA DE LOS LIMITES NORMALES'>FUERA</option>
                          </select>
                </ion-col>
                <ion-col>
                    <label class="subtitulo2">VALOR:</label>
                    <ion-input class="subtitulo2" type="number" [(ngModel)]="sonoAbdominal.aortaValor"></ion-input>
                </ion-col>


            </ion-row>
        </ion-grid>
        
       
    </ion-card> -->

    <ion-list *ngIf="showTransV">
        <ion-item>
            <h1 class="subtitulo2">Sonografia Transvaginal</h1>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked></ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Feto</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <!-- <ion-button (click)="createPdf()">crear</ion-button> -->
        </ion-item>
        <ion-item>
            <!-- <ion-button (click)="printPdf()" [disabled]="!pdfObj">imprimir </ion-button> -->
        </ion-item>
    </ion-list>

</ion-content>