<ion-header>
  <ion-toolbar>
    <ion-title>sonografia-update</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Estado</ion-label>
    <ion-select [(ngModel)]="estado_sonografia" type="number">
        <ion-select-option value=1>Activo</ion-select-option>
        <ion-select-option value=2>Inactivo</ion-select-option>
    </ion-select>
    <ion-row>
      <ion-col>
          <ion-button type="button" (click)="updateSonografia()" color="primary" shape="shape" expand="block"> Update paciente </ion-button>
      </ion-col>
  </ion-row>
</ion-item>
</ion-content>
