.card-principal {
    width: 600px;
    height: 300px;
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(94, 243, 101);
    left: 0em;
}

.list-usuarios {
    border-radius: 10px;
}

.list-lista-usuarios {
    border-radius: 10px;
}

ion-title {
    text-align: center;
}