.card-principal {
    width: 700px;
    height: 435px;
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    background-color: #4cf1b2;
    left: 0em;
}

.list-usuarios {
    border-radius: 10px;
}

.list-lista-usuarios {
    border-radius: 10px;
}

ion-title {
    text-align: center;
}

.select-estado {
    height: 45px;
    width: 790px;
    margin: 15px 0 0 28px;
}

.select-posicion {
    height: 45px;
    width: 790px;
    margin: 15px 0 0 15px;
}