<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title style="height: 80px;" class="titulo">Actualizar datos de usuarios</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="card-principal">
        <ion-list class="list-usuarios">
            <ion-list>
                <ion-item>
                    <ion-label class="subtitulo" position="floating">Usuario:</ion-label>
                    <ion-input class="subtitulo" [(ngModel)]="nombre" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="subtitulo" position="floating">Contraseña:</ion-label>
                    <ion-input class="subtitulo" [(ngModel)]="contrasena" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <label class="subtitulo">Posición:</label>
                    <select [(ngModel)]="rol" class="form-select form-select-lg mb-3 select-posicion">
                    <option value='Laboratorio'>Laboratorio</option>
                    <option value='Odontología'>Odontología</option>
                    <option value='Rayos X'>Rayos X</option>
                    <option value='Recepción'>Recepción</option>
                    <option value='Sonografía'>Sonografía</option>
                  </select>
                </ion-item>

                <ion-item>
                    <label class="subtitulo">Estado:</label>
                    <select [(ngModel)]="estado" class="form-select form-select-lg mb-3 select-estado">
                    <option value='Activo'>Activo</option>
                    <option value='Inactivo'>Inactivo</option>
                  </select>
                </ion-item>


                <ion-row>
                    <ion-col>
                        <ion-button class="subtitulo" type="button" (click)="UpdateUsuario()" color="primary" shape="shape" expand="block"> Update usuarios </ion-button>
                    </ion-col>
                </ion-row>

            </ion-list>
        </ion-list>
    </ion-card>
</ion-content>