<ion-grid>
    <ion-row class="columnas">
        <ion-col>
            <ion-card class="Card_secundaria">

                <ion-grid>
                    <ion-row>
                        <ion-col class="columna_usuario">
                            <div>
                                <ion-img class="imagen_usario" src="assets/image/User4.png"></ion-img>
                            </div>
                            <div class="mt-2 inputIcon">
                                <input type="text" [(ngModel)]="nombre" placeholder="Usuario" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                            </div>
                            <div class="mt-2 inputIcon">
                                <input type="email" name="email" [(ngModel)]="email" placeholder="Correo Electronico" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                            </div>
                            <div class="mt-2 inputIcon">
                                <input type="password" [(ngModel)]="contrasena" placeholder="Contraseña" class="form-control inputs">
                            </div>

                            <div class="mt-2 select_estado">

                                <select [(ngModel)]="rol" class="form-select Sel_estado placeholder-glow" aria-label="Default select example">
                                        <option value="" disabled selected hidden>Asigne un rol</option>
                                        <option value='administrador'>Administrador</option>
                                        <option value='Laboratorio'>Laboratorio</option>
                                        <option value='Odontología'>Odontología</option>
                                        <option value='Rayos X'>Rayos X</option>
                                        <option value='Recepción'>Recepción</option>
                                        <option value='Sonografía'>Sonografía</option>
                                      </select>
                            </div>

                            <div class="mt-2 ">
                                <button type="button" (click)="nuevoUsuario()" (click)="addUsuario()" class="btn btn_agregar btn-success">Actualizar paciente</button>
                            </div>

                            <!-- <div class=" mt-2 btn_agregar">
                                    <ion-button style="width: 100%;" class="subtitulo2" type="submit" (click)="nuevoUsuario()" (click)="addUsuario()" color="primary" shape="round" expand="block"> Agregar usuarios </ion-button>
                                </div> -->
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
        </ion-col>
        <ion-col class="card-contenedor">
            <ion-card class="card_elementos">

                <!-- La verdadera datatable -->

                <div class="mt-2 inputIcon">
                    <input type="text" [(ngModel)]="Seacrh01" placeholder="Buscar..." class="form-control searchbar" is-valid id="validationServer01" value="Mark" required>
                </div>

                <ion-card class=" mt-2 card_tabla">

                    <div>
                        <table id="tabla" class="table table-hover">
                            <thead class="">
                                <tr>
                                    <th (click)="sort('id')">No.&nbsp;<i class="fa fa-sort"></i> </th>
                                    <th (click)="sort('Nombre')">Nombre&nbsp;<i class="fa fa-sort"></i> </th>
                                    <th (click)="sort('Correo')">Correo&nbsp;<i class="fa fa-sort"></i> </th>
                                    <th (click)="sort('Area')">Area&nbsp;<i class="fa fa-sort"></i> </th>
                                    <th (click)="sort('Estado')">Estado&nbsp;<i class="fa fa-sort"></i> </th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of nombres | paginate:{itemsPerPage: 5, currentPage: p} | orderBy: key: reverse | filter: Seacrh01 ;let i=index;">
                                    <th>{{(p-1) * 5 + i + 1}}</th>
                                    <td>{{item.nombre}}</td>
                                    <td>{{item.usuario_email}}</td>
                                    <td>{{item.rol}}</td>
                                    <td>{{item.estado}}</td>
                                    <td>
                                        <a class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar usuario" [routerLink]="['/usuario-update/',item.id]" style="background-color: #ff6600;" role="button"><i class="far fa-edit"></i></a>

                                        <!-- <ion-icon name="create-outline" style="zoom: 2;" [routerLink]="['/usuario-update/',item.id]"></ion-icon> -->
                                        <!-- <ion-icon name="trash-bin-outline" style="zoom: 2;" (click)="deleUsuarios(item.id)"></ion-icon> -->
                                    </td>
                                </tr>
                                <tr>
                                </tr>
                            </tbody>

                        </table>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>

                        <!-- <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Nombre</th>
                                        <th>Area</th>
                                        <th>Estado</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of nombres ; let i=index;">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{item.nombre}}</td>
                                        <td>{{item.rol}}</td>
                                        <td>{{item.estado}}</td>
                                        <td>
                                            <ion-icon name="create-outline" style="zoom: 2;" [routerLink]="['/usuario-update/',item.id]"></ion-icon>
                                            <ion-icon name="trash-bin-outline" style="zoom: 2;" (click)="deleUsuarios(item.id)"></ion-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> -->
                    </div>

                </ion-card>

            </ion-card>

        </ion-col>
    </ion-row>
</ion-grid>