.card-principal {
    width: 600px;
    padding: 8px;
    border-radius: 10px;
    margin: auto;
    background-color: #4cf1b2;
}

ion-title {
    text-align: center;
}

.label {
    margin-left: 10px;
}

ion-button {
    width: 520px;
    margin: auto;
    margin-bottom: 20px;
}

ion-searchbar {
    width: 93%;
    margin: auto;
}

.selectFiltoArea {
    // height: 35px;
    border-radius: 20px;
    //font-size: 13px;
    width: 100%;
    margin: auto;
}

.h5 {
    margin-left: 20px;
}

.columna_usuario {
    height: auto;
}

.tabla_usaurios {
    width: 520px;
    margin: auto;
    border-radius: 10px;
}

ion-icon {
    margin: 0 0 0 5px;
}

.Card_secundaria {
    height: 460px;
    width: 60%;
    margin: auto;
    margin-right: 80px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.inputs {
    width: 90%;
    border-radius: 20px;
    margin: auto;
}

.imagen_usario {
    height: 00%;
    width: 70%;
    margin: auto;
}

.btn_agregar {
    width: 90%;
    margin: auto;
}

.btn_exportar {
    width: 86%;
}

.select_estado {
    width: 90%;
    //margin-left: 40px;
    margin: auto;
}

.Sel_estado {
    border-radius: 20px
}

.card_elementos {
    height: 460px;
    width: 100%;
    margin: auto;
    margin-left: -60px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

ion-grid {
    --ion-grid-width: 600px
}

.columnas {
    width: 95%;
}