<ion-header>

    <ion-toolbar>
        <ion-title class="titulo">Registro de usarios</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card class="card-principal" color="Dark">
        <ion-card-header>

            <ion-list class="list-usuarios">
                <ion-item>
                    <ion-label class="subtitulo" position="floating">Usuario:</ion-label>
                    <ion-input class="subtitulo" [(ngModel)]="nombre" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="subtitulo" position="floating">Contraseña:</ion-label>
                    <ion-input class="subtitulo" [(ngModel)]="contrasena" type="text"></ion-input>
                </ion-item>

                <ion-item>
                    <label class="subtitulo">Posición:</label>
                    <select [(ngModel)]="rol" class="form-select form-select-lg mb-3 select-posicion">
                    <option value='Laboratorio'>Laboratorio</option>
                    <option value='Odontología'>Odontología</option>
                    <option value='Rayos X'>Rayos X</option>
                    <option value='Recepción'>Recepción</option>
                    <option value='Sonografía'>Sonografía</option>
                  </select>
                </ion-item>


                <ion-item>
                    <label class="subtitulo">Estado:</label>
                    <select [(ngModel)]="estado" class="form-select form-select-lg mb-3 select-estado">
                    <option value='Activo'>Activo</option>
                    <option value='Inactivo'>Inactivo</option>
                  </select>
                </ion-item>

                <ion-row>
                    <ion-col>
                        <ion-button class="subtitulo" type="button" (click)="addUsuario()" color="primary" shape="shape" expand="block"> Add usuarios </ion-button>
                    </ion-col>
                </ion-row>
            </ion-list>

            <br>
            <ion-list class="list-lista-usuarios">

                <ion-list-header class="subtitulo">
                    Usuarios registrados

                </ion-list-header>
                <ion-item lines="inset" *ngFor="let nombres of nombres">
                    <ion-label>
                        <h5 class="normal">{{nombres.nombre}} - ({{nombres.rol}}, {{nombres.estado}})</h5>
                    </ion-label>

                    <div class="item-note">
                        <ion-icon name="create-outline" style="zoom: 2.5;" [routerLink]="['/usuario-update/',nombres.id]"></ion-icon>
                        <ion-icon name="trash-bin-outline" style="zoom: 2.5;" (click)="deleUsuarios(nombres.id)"></ion-icon>
                    </div>

                </ion-item>
            </ion-list>

        </ion-card-header>

    </ion-card>

</ion-content>