.card-principal {
    width: 900px;
    height: 600px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    background-color: #4cf1b2;
}

.list-usuarios {
    border-radius: 10px;
}

.list-lista-usuarios {
    border-radius: 10px;
}

ion-title {
    text-align: center;
}

.form-usuario {
    margin: auto;
}