<ion-header>

    <ion-toolbar>
        <ion-title style="height: 80px;" class="titulo">Registro de usarios</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card class="Card_secundaria">

                    <ion-grid>
                        <ion-row>
                            <ion-col class="columna_usuario">
                                <div>
                                    <ion-img class="imagen_usario" src="assets/image/user3.png"></ion-img>
                                </div>
                                <div class="mt-2 inputIcon">
                                    <input type="text" [(ngModel)]="nombre" placeholder="Usuario" class="form-control inputs">
                                    <i class="fas fa-user fa-lg fa-fw" aria-hidden="true"></i>
                                </div>
                                <div class="mt-2 inputIcon">
                                    <input type="password" [(ngModel)]="contrasena" placeholder="Contraseña" class="form-control inputs">
                                    <i class="fas fa-user fa-lg fa-fw" aria-hidden="true"></i>
                                </div>
                                <div class="mt-2 select_estado">
                                    <select [(ngModel)]="rol" class="form-select Sel_estado" aria-label="Default select example">
                                    <option selected>Área</option>
                                    <option value='Laboratorio'>Laboratorio</option>
                                    <option value='Odontología'>Odontología</option>
                                    <option value='Rayos X'>Rayos X</option>
                                    <option value='Recepción'>Recepción</option>
                                    <option value='Sonografía'>Sonografía</option>
                                  </select>
                                </div>
                                <div class="mt-2 select_estado">
                                    <select [(ngModel)]="estado" class="form-select Sel_estado" placeholder="Contraseña" aria-label="Default select example">
                                    <option selected>Estado</option>
                                    <option value='Activo'>Activo</option>
                                    <option value='Inactivo'>Inactivo</option>
                                  </select>
                                </div>

                                <div class=" mt-2 btn_agregar">
                                    <ion-button style="width: 100%;" class="subtitulo2" type="button" (click)="addUsuario()" color="primary" shape="round" expand="block"> Agregar usuarios </ion-button>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="card_elementos">
                    <!-- <h5 class="subtitulo2 h5">Filtros</h5> -->

                    <div class="container">

                        <div class="row">
                            <div class="col">
                                <ion-searchbar class="normal" placeholder="Nombre" [(ngModel)]="search_01" showCancelButton="focus" animated>
                                </ion-searchbar>
                            </div>
                            <div class="col">
                                <select [(ngModel)]="search_02" class="form-select form-select-lg mb-3 selectFiltoArea normal">
                                    <option selected></option>
                                    <option value='Laboratorio'>Laboratorio</option>
                            <option value='Odontología'>Odontología</option>
                            <option value='Rayos X'>Rayos X</option>
                            <option value='Recepción'>Recepción</option>
                            <option value='Sonografía'>Sonografía</option>
                              </select>
                            </div>
                        </div>
                    </div>

                    <ion-button class="subtitulo2" type="button" (click)="exportexcel()" color="warning" shape="shape" expand="block">Exportar</ion-button>

                    <table class="table table-hover table-bordered" id="excel-table-user">
                        <thead class="table-light ">
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Area</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of nombres | filter:search_01 | filter:search_02; let i=index;">
                                <th scope="row">{{i+1}}</th>
                                <td>{{item.nombre}}</td>
                                <td>{{item.rol}}</td>
                                <td>{{item.estado}}</td>
                                <td>
                                    <ion-icon name="create-outline" style="zoom: 2;" [routerLink]="['/usuario-update/',item.id]"></ion-icon>
                                    <ion-icon name="trash-bin-outline" style="zoom: 2;" (click)="deleUsuarios(item.id)"></ion-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>