.card-principal {
    width: 600px;
    padding: 8px;
    border-radius: 10px;
    margin: auto;
    background-color: #4cf1b2;
}

// .user_item {
//     border-radius: 8px;
//     width: 530px;
//     margin: auto;
// }
// ion-input {
//     width: 250px;
//     height: 35px;
//     padding: 16px;
//     background-color: #ccc;
//     border-color: var(--ion-color-medium-shade);
//     border-radius: 8px;
//     border-width: 1px;
//     margin: auto;
//     box-shadow: 2px rgb(255, 255, 255);
//     background: #f8f9fa;
// }
ion-title {
    text-align: center;
}

// .form-usuario {
//     margin: auto;
// }
.label {
    margin-left: 10px;
}

.select-estado {
    height: 35px;
    border-radius: 8px;
    font-size: 13px;
    width: 250px;
    margin: auto;
}

.select-posicion {
    height: 35px;
    border-radius: 8px;
    font-size: 13px;
    width: 250px;
    margin: auto;
}

ion-button {
    width: 520px;
    margin: auto;
    margin-bottom: 20px;
}

// .list {
//     width: 530px;
//     margin: auto;
// }
ion-searchbar {
    width: 250px;
    margin: auto;
}

.selectFiltoArea {
    // height: 35px;
    border-radius: 8px;
    //font-size: 13px;
    width: 240px;
    margin: auto;
    margin-top: 8px;
    height: 46px;
}

// .table_export {
//     margin: auto;
//     width: 600px;
// }
// .row {
//     width: 600px;
//     margin: auto;
// }
.h5 {
    margin-left: 20px;
}

.tabla_usaurios {
    width: 520px;
    margin: auto;
    border-radius: 10px;
}

ion-icon {
    margin: 0 0 0 5px;
}

.Card_secundaria {
    height: 500px;
    width: 60%;
    margin: auto;
    margin-left: 50px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.inputs {
    width: 250px;
    border-radius: 20px;
    margin: auto;
}

.imagen_usario {
    height: 250px;
    width: 250px;
    margin: auto;
}

.btn_agregar {
    width: 250px;
    margin: auto;
}

.select_estado {
    width: 250px;
    //margin-left: 40px;
    margin: auto;
}

.Sel_estado {
    border-radius: 20px
}

.card_elementos {
    height: 500px;
    width: 100%;
    margin: auto;
    margin-right: 15px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

ion-grid {
    --ion-grid-width: 600px
}