<div class="container mt-5 animated fadeIn">
  <!-- Content table -->
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h2 class="h4 mb-0 text-gray-800">Lista de usurios registrados</h2>
      </div>

  <div class="container table-container">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Nombre Completo</th>
            <th scope="col">Telefono</th>
            <th scope="col">Puesto</th>
            <th scope="col">Correo</th>
            <th scope="col">Sexo</th>
            <th scope="col">Rol</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios; let i = index">
              <td> {{usuario.nombre}} {{usuario.apellido}}</td>
              <td> {{usuario.telefono}} </td>
              <td> {{usuario.puesto}} </td>
              <td> {{usuario.correo}} </td>
              <td> {{usuario.sexo}} </td> 
              <td>Administrador</td>
              <td><i class="fa fa-edit mr-2 text-primary cambios"></i><i class="fa fa-trash text-danger cambios"></i></td>
            </tr>
            <tr>
        </tbody>
      </table>
      </div>
</div>