ion-card {
    width: 400px;
    height: 400px;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(150, 243, 153);
}

ion-input {
    background-color: white;
    border-radius: 8px;
}

ion-label {
    color: black;
}

ion-title {
    text-align: center;
}