ion-card {
    width: 400px;
    height: 400px;
    padding: 50px;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(94, 243, 101);
}

ion-input {
    background-color: white;
    border-radius: 20px;
}

ion-label {
    color: black;
}