<ion-header>
    <ion-toolbar>
        <ion-title class="titulo">Inicio de Sesión</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <section id="menulogin">

        <br>

        <ion-card id="cardlogin">
            <ion-card-header>
                <ion-card-title class="titulo">Login</ion-card-title>
            </ion-card-header>

            <ion-card-content>


                <ion-label class="subtitulo" position="floating">Usuario</ion-label>
                <ion-input type="text" [(ngModel)]="usuario"></ion-input>
                <br>
                <ion-label class="subtitulo" position="floating">Contraseña</ion-label>
                <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
                <br>
                <ion-button class="subtitulo" id="btnacceder" shape="shape" color="danger" expand="block" routerLink="/home">Acceder</ion-button>
                <br>
                <ion-button class="subtitulo" id="btnregistrar" shape="shape" color="warning" expand="block" routerLink="/usuario-registro">Registrate</ion-button>

            </ion-card-content>
        </ion-card>




    </section>

</ion-content>