<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Inicio de Sesión</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <section id="menulogin">

        <br>

        <ion-card id="cardlogin">
            <ion-card-header>
                <ion-card-title>Login</ion-card-title>
            </ion-card-header>

            <ion-card-content>


                <ion-label position="floating">Usuario</ion-label>
                <ion-input type="text" [(ngModel)]="usuario"></ion-input>
                <br>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
                <br>
                <ion-button id="btnacceder" shape="round" expand="block" routerLink="/home">Acceder</ion-button>
                <br>
                <ion-button id="btnregistrar" shape="round" expand="block" routerLink="/home">Registrate</ion-button>

            </ion-card-content>
        </ion-card>




    </section>

</ion-content>