.card-principal {
    height: 900px;
    background-color: white;
}

.datos-personales {
    width: 290px;
    height: 780px;
    padding: 50px;
    border-radius: 10px;
    margin: left;
    background-color: #ccf8e7;
    left: 0em;
}

.datos-personales2 {
    width: 990px;
    height: 780px;
    padding: 50px;
    border-radius: 10px;
    margin: left;
    background-color: #ccf8e7;
    left: 22.5em;
    bottom: 56.5em;
}

ion-label {
    color: black;
}

ion-input {
    width: 250px;
    padding: 16px;
    background-color: #ccc;
    border-color: var(--ion-color-medium-shade);
    border-radius: 15px;
    border-width: 1px;
    box-shadow: 2px gray;
    background: #f8f9fa;
}

form {
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: #ccc;
}

input {
    background-color: white;
}

.h1 title {
    color: black;
}

ion-scroll {
    height: 100px;
}

.card-list {
    border-radius: 10px;
}

.card-lista-paciente {
    border-radius: 10px;
}

ion-datetime {
    background-color: white;
    border-radius: 15px;
    width: 250px;
}