.card-principal {
    height: 900px;
}

.datos-personales {
    width: 290px;
    height: 780px;
    padding: 50px;
    border-radius: 10px;
    margin: left;
    background-color: #ccc;
    left: 0em;
}

.datos-personales2 {
    width: 990px;
    height: 780px;
    padding: 50px;
    border-radius: 10px;
    margin: left;
    background-color: #ccc;
    left: 22.5em;
    bottom: 56.5em;
}

ion-input {
    width: 300px;
    padding: 16px;
    background-color: #ccc;
    border-color: var(--ion-color-medium-shade);
    border-radius: 3px;
    border-width: 1px;
    box-shadow: 2px gray;
    background: #f8f9fa;
}

form {
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: #ccc;
}

label {
    text-decoration-color: black;
}

input {
    background-color: white;
}

.h1 title {
    color: black;
}