<div class="addScroll">

    <ion-card class="datos-personales2">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="nombre" placeholder="Nombres" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="apellido" placeholder="Apellidos" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="cedula" placeholder="Identificación" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="telefono" placeholder="Teléfono" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="alergias" placeholder="Alergias" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="padecimientos" placeholder="Padecimientos" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="ocupacion" placeholder="Ocupación" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="direccion" placeholder="Dirección" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <input class="date subtitulo2" placeholder="Fecha de nacimiento" [(ngModel)]="fecha_nacimiento" type="date" id="start" name="trip-start" value="2018-07-22" min="1910-01-01" max="hoy">
                    </div>
                    <div>
                        <select [(ngModel)]="tipo_sangre" class="form-select mt-2 select_sangre">
                            <option value="" disabled selected hidden>Tipo de sangre</option>
                        <option value='A Negativo'>A Negativo</option>
                        <option value='A Positivo'>A Positivo</option>
                        <option value='B Negativo'>B Negativo</option>
                        <option value='B Positivo'>B Positivo</option>
                        <option value='AB Negativo'>AB Negativo</option>
                        <option value='AB Positivo'>AB Positivo</option>
                        <option value='O Negativo'>O Negativo</option>
                        <option value='O Positivo'>O Positivo</option>
                        </select>
                    </div>
                    <div>
                        <select [(ngModel)]="sexo" class="form-select  mt-2 select-sexo">
                            <option value="" disabled selected hidden>Sexo</option>
                            <option  value='Masculino'>Masculino</option>
                            <option value='Femenino'>Femenino</option>
                            <option value='Sin especificar'>Sin especificar</option>
                          </select>
                    </div>
                    <div class="mt-2">
                        <select [(ngModel)]="ars" class="form-select mt-2 select-ars">
                            <option value="" disabled selected hidden>ARS</option>
                            <option  value='No Asegurado'>No Asegurado</option>
                            <option  value='ARS BMI'>ARS BMI</option>
                            <option value='Primera ARS Humano'>Primera ARS Humano</option>
                            <option value='ARS Palic Salud'>ARS Palic Salud</option>
                            <option value='ARS La Colonial'>ARS La Colonial</option>
                            <option  value='ARS Monumental'>ARS Monumental</option>
                            <option value='ARS Renacer'>ARS Renacer</option>
                            <option value='ARS Simag'>ARS Simag</option>
                            <option value='ARS Universal'>ARS Universal</option>
                            <option value='ARS Yunén'>ARS Yunén</option>
                            <option value='Seguro Nacional de Salud -SENASA-'>Seguro Nacional de Salud -SENASA-</option>
                            <option  value='ARS Grupo Médico Asociado -ARS GMA-'>ARS Grupo Médico Asociado -ARS GMA-</option>
                            <option value='ARS Futuro'>ARS Futuro</option>
                          </select>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div>
            <button type="button" (click)="addPaciente()" class="btn btn_add_paciente btn-success">Añadir paciente</button>
            <!-- <ion-button class="subtitulo2 mt-2 btn_add_paciente" type="button" (click)="addPaciente()" color="success" shape="round" expand="block"> Añadir pacientes </ion-button> -->
        </div>
        <!-- La verdadera datatable -->
        <div class="mt-2">
            <input type="text" [(ngModel)]="Seacrh01" placeholder="Buscar..." class="form-control search" is-valid id="validationServer01" value="Mark" required>
        </div>

        <ion-card class="card_tabla mt-2">

            <div>

                <table id="tabla" class="table table-hover">
                    <thead class="">
                        <tr>
                            <th (click)="sort('id')">No.&nbsp;<i class="fa fa-sort"></i> </th>
                            <th (click)="sort('Nombre')">Nombre&nbsp;<i class="fa fa-sort"></i> </th>
                            <th (click)="sort('Apellido')">Apellido&nbsp;<i class="fa fa-sort"></i> </th>
                            <th (click)="sort('Teléfono')">Teléfono&nbsp;<i class="fa fa-sort"></i> </th>
                            <th (click)="sort('Cédula')">Cédula&nbsp;<i class="fa fa-sort"></i> </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of pacientes |filter: Seacrh01 | paginate:{itemsPerPage: 5, currentPage: p}| orderBy: key: reverse ;let i=index;">
                            <th>{{(p-1) * 5 + i + 1}}</th>
                            <td>{{item.nombre_paciente}}</td>
                            <td>{{item.apellido_paciente}}</td>
                            <td>{{item.telefono_paciente}}</td>
                            <td>{{item.cedula_paciente }}</td>
                            <td>
                                <a class="btn btn-primary" data-toggle="tooltip" title="Enviar a una área" [routerLink]="['/paciente-add-area/',item.id_paciente]" style="background-color: #2ba558; margin-right: 4px;" role="button"><i class="far fa-plus-square"></i></a>
                                <a class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar paciente" [routerLink]="['/paciente-update/',item.id_paciente]" style="background-color: #ff6600; margin-left: 4px;" role="button"><i class="far fa-edit"></i></a>
                                <!-- <ion-icon name="create-outline" style="zoom: 2;" [routerLink]="['/paciente-update/',item.id_paciente]"></ion-icon>
                                <ion-icon name="add-circle-outline" style="zoom: 2;" [routerLink]="['/paciente-add-area/',item.id_paciente]"></ion-icon> -->

                                <!-- <ion-icon name="trash-bin-outline" style="zoom: 2;" (click)="delePaciente(item.id_paciente)"></ion-icon> -->
                            </td>
                        </tr>
                        <tr>
                        </tr>
                    </tbody>

                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                <!-- <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions" data-page-length='5'>
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Teléfono</th>
                            <th>Cédula</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of pacientes ; let i=index;">
                            <th scope="row">{{i+1}}</th>
                            <td>{{item.nombre_paciente}}</td>
                            <td>{{item.apellido_paciente}}</td>
                            <td>{{item.telefono_paciente}}</td>
                            <td>{{item.cedula_paciente }}</td>
                            <td>
                                <ion-icon name="create-outline" style="zoom: 2;" [routerLink]="['/paciente-update/',item.id_paciente]"></ion-icon>
                                <ion-icon name="add-circle-outline" style="zoom: 2;" [routerLink]="['/paciente-add-area/',item.id_paciente]"></ion-icon>
                                <ion-icon name="trash-bin-outline" style="zoom: 2;" (click)="delePaciente(item.id_paciente)"></ion-icon>
                            </td>
                        </tr>
                    </tbody>
                </table> -->
            </div>

        </ion-card>

    </ion-card>
    <div class="mt-2">

    </div>
</div>