.datos-personales2 {
    width: 900px;
    height: 780px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    background-color: #4cf1b2;
}

ion-label {
    color: black;
    margin: 0 0 0 15px;
}

ion-input {
    width: 250px;
    height: 35px;
    padding: 16px;
    background-color: #ccc;
    border-color: var(--ion-color-medium-shade);
    border-radius: 8px;
    border-width: 1px;
    margin: auto;
    box-shadow: 2px rgb(255, 255, 255);
    background: #f8f9fa;
}

input {
    background-color: white;
}

.h1 title {
    color: black;
}

.card-list {
    border-radius: 10px;
    width: 830px;
    margin: auto;
}

.tabla-paciente {
    border-radius: 10px;
    width: 250px;
    margin: 0 0 0 10px;
}

ion-datetime {
    background-color: white;
    border-radius: 8px;
    width: 250px;
    height: 35px;
    margin: auto;
}

ion-title {
    text-align: center;
}

.tabla-titulos {
    border-radius: 10px;
    text-align: center;
    width: 830px;
    margin: auto;
}

.tabla-datos {
    border-radius: 10px;
    text-align: center;
    width: 830px;
    margin: auto;
}

ion-icon {
    margin: 0 0 0 8px;
    padding: 4px 0 0 0;
}