<ion-content>

    <ion-card class="datos-personales2">

        <ion-grid>
            <ion-row>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="nombre" placeholder="Nombres" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="apellido" placeholder="Apellidos" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="cedula" placeholder="Identificación" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="telefono" placeholder="Teléfono" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="alergias" placeholder="Alergias" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="padecimientos" placeholder="Padecimientos" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="ocupacion" placeholder="Ocupación" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="direccion" placeholder="Dirección" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        <input class="date subtitulo2" placeholder="Fecha de nacimiento" [(ngModel)]="fecha_nacimiento" type="date" id="start" name="trip-start" value="2018-07-22" min="1910-01-01" max="hoy">
                    </div>
                    <div>
                        <select [(ngModel)]="tipo_sangre" class="form-select form-select-lg mt-2 select_sangre">
                            <option value="Nada" selected disabled>Seleccione tipo de sangre</option>
                        <option value='A Negativo'>A Negativo</option>
                        <option value='A Positivo'>A Positivo</option>
                        <option value='B Negativo'>B Negativo</option>
                        <option value='B Positivo'>B Positivo</option>
                        <option value='AB Negativo'>AB Negativo</option>
                        <option value='AB Positivo'>AB Positivo</option>
                        <option value='O Negativo'>O Negativo</option>
                        <option value='O Positivo'>O Positivo</option>
                        </select>
                    </div>
                    <div>
                        <select [(ngModel)]="sexo" class="form-select form-select-lg mt-2 select-sexo">
                            <option value="Nada" selected disabled>Seleccione el sexo</option>
                            <option  value='Masculino'>Masculino</option>
                            <option value='Femenino'>Femenino</option>
                            <option value='Sin especificar'>Sin especificar</option>
                          </select>
                    </div>
                    <div>
                        <select [(ngModel)]="ars" class="form-select form-select-lg mt-2 select-ars">
                            <option value="Nada" selected disabled>Seleccione la ARS</option>
                            <option  value='ARS BMI'>ARS BMI</option>
                            <option value='Primera ARS Humano'>Primera ARS Humano</option>
                            <option value='ARS Palic Salud'>ARS Palic Salud</option>
                            <option value='ARS La Colonial'>ARS La Colonial</option>
                            <option  value='ARS Monumental'>ARS Monumental</option>
                            <option value='ARS Renacer'>ARS Renacer</option>
                            <option value='ARS Simag'>ARS Simag</option>
                            <option value='ARS Universal'>ARS Universal</option>
                            <option value='ARS Yunén'>ARS Yunén</option>
                            <option value='Seguro Nacional de Salud -SENASA-'>Seguro Nacional de Salud -SENASA-</option>
                            <option  value='ARS Grupo Médico Asociado -ARS GMA-'>ARS Grupo Médico Asociado -ARS GMA-</option>
                            <option value='ARS Futuro'>ARS Futuro</option>
                          </select>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div>
            <ion-button class="subtitulo2 mt-2 btn_add_paciente" type="button" (click)="addPaciente()" color="success" shape="round" expand="block"> Añadir pacientes </ion-button>
        </div>

        <br>
        <div>
            <input type="search" [(ngModel)]="search_01" placeholder="Buscar..." class="form-control Search" aria-label="Search">
            <i class="glyphicon glyphicon-user form-control-feedback"></i>
        </div>
        <br>

        <ion-button class="subtitulo2 btnExport" type="button" (click)="exportexcel()" color="warning" shape="round" expand="block">Exportar</ion-button>
        <br>
        <ion-card class="tabla_pacientes">
            <table class="table table-hover table-bordered datatable" id="excel-table-paciente">
                <thead class="table-light">
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pacientes | filter:search_01 ; let i=index;">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.nombre_paciente}}</td>
                        <td>{{item.apellido_paciente}}</td>
                        <td>{{item.telefono_paciente}}</td>
                        <td>{{item.cedula_paciente }}</td>
                        <td>
                            <ion-icon name="create-outline" style="zoom: 2;" [routerLink]="['/paciente-update/',item.id_paciente]"></ion-icon>
                            <ion-icon name="add-circle-outline" style="zoom: 2;" [routerLink]="['/paciente-add-area/',item.id_paciente]"></ion-icon>
                            <ion-icon name="trash-bin-outline" style="zoom: 2;" (click)="delePaciente(item.id_paciente)"></ion-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ion-card>
    </ion-card>
</ion-content>