<ion-header>

    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="titulo">Registro de pacientes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



    <ion-card class="datos-personales2">

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label class="subtitulo" position="floating">Nombres</ion-label>
                    <ion-input class="subtitulo" type="text" [(ngModel)]="nombre"></ion-input>
                </ion-col>
                <ion-col>
                    <ion-label class="subtitulo" position="floating">Apellidos</ion-label>
                    <ion-input class="subtitulo" type="text" [(ngModel)]="apellido"></ion-input>
                </ion-col>
                <ion-col>
                    <ion-label class="subtitulo" position="floating">Cédula</ion-label>
                    <ion-input class="subtitulo" type="text" [(ngModel)]="cedula"></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label class="subtitulo" position="floating">Teléfono</ion-label>
                    <ion-input class="subtitulo" type="text" [(ngModel)]="telefono"></ion-input>
                </ion-col>
                <ion-col>
                    <ion-label class="subtitulo" position="floating">Alergias</ion-label>
                    <ion-input class="subtitulo" type="text" [(ngModel)]="alergias"></ion-input>
                </ion-col>
                <ion-col>
                    <ion-label class="subtitulo" position="floating">Padecimientos</ion-label>
                    <ion-input class="subtitulo" type="text" [(ngModel)]="padecimientos"></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label class="subtitulo" position="floating">Ocupación</ion-label>
                    <ion-input class="subtitulo" type="text" [(ngModel)]="ocupacion"></ion-input>
                </ion-col>
                <ion-col>
                    <ion-label class="subtitulo" position="floating">Dirección</ion-label>
                    <ion-input class="subtitulo" type="text" [(ngModel)]="direccion"></ion-input>
                </ion-col>
                <ion-col>
                    <ion-label class="subtitulo" position="floating">Fecha de nacimiento:</ion-label>
                    <ion-datetime class="subtitulo" [(ngModel)]="fecha_nacimiento" type="text" displayFormat="MM/DD/YYYY" min="1900-01-14" max="2099-12-09"></ion-datetime>
                </ion-col>
            </ion-row>
        </ion-grid>

        <br>

        <ion-list class="card-list">

            <ion-item>
                <ion-label class="subtitulo">Tipo de sangre:</ion-label>
                <ion-select class="subtitulo" [(ngModel)]="tipo_sangre" type="text">
                    <ion-select-option value='A Negativo'>A Negativo</ion-select-option>
                    <ion-select-option value='A Positivo'>A Positivo</ion-select-option>
                    <ion-select-option value='B Negativo'>B Negativo</ion-select-option>
                    <ion-select-option value='B Positivo'>B Positivo</ion-select-option>
                    <ion-select-option value='AB Negativo'>AB Negativo</ion-select-option>
                    <ion-select-option value='AB Positivo'>AB Positivo</ion-select-option>
                    <ion-select-option value='O Negativo'>O Negativo</ion-select-option>
                    <ion-select-option value='O Positivo'>O Positivo</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label class="subtitulo">Sexo:</ion-label>
                <ion-select class="subtitulo" [(ngModel)]="sexo" type="text">
                    <ion-select-option value='Masculino'>Masculino</ion-select-option>
                    <ion-select-option value='Femenino'>Femenino</ion-select-option>
                    <ion-select-option value='Sin especificar'>Sin especificar</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label class="subtitulo">ARS:</ion-label>
                <ion-select class="subtitulo" [(ngModel)]="ars" type="text">
                    <ion-select-option value='ARS BMI'>ARS BMI</ion-select-option>
                    <ion-select-option value='Primera ARS Humano'>Primera ARS Humano</ion-select-option>
                    <ion-select-option value='ARS Palic Salud'>ARS Palic Salud</ion-select-option>
                    <ion-select-option value='ARS La Colonial'>ARS La Colonial</ion-select-option>
                    <ion-select-option value='ARS Monumental'>ARS Monumental</ion-select-option>
                    <ion-select-option value='ARS Renacer'>ARS Renacer</ion-select-option>
                    <ion-select-option value='ARS Simag'>ARS Simag</ion-select-option>
                    <ion-select-option value='ARS Universal'>ARS Universal</ion-select-option>
                    <ion-select-option value='ARS Yunén'>ARS Yunén</ion-select-option>
                    <ion-select-option value='Seguro Nacional de Salud -SENASA-'>Seguro Nacional de Salud -SENASA-</ion-select-option>
                    <ion-select-option value='ARS Grupo Médico Asociado -ARS GMA-'>ARS Grupo Médico Asociado -ARS GMA-</ion-select-option>
                    <ion-select-option value='ARS Futuro'>ARS Futuro</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-row>
                <ion-col>
                    <ion-button class="subtitulo" type="button" (click)="addPaciente()" color="success" shape="shape" expand="block"> Añadir pacientes </ion-button>
                </ion-col>
            </ion-row>

        </ion-list>
        <br>

        <ion-item class="tabla-titulos">
            <ion-grid class="tabla-paciente">
                <ion-row>
                    <ion-col>
                        Nombre
                    </ion-col>
                    <ion-col>
                        Apellido
                    </ion-col>
                    <ion-col>
                        Telefono
                    </ion-col>
                    <ion-col>
                        Cedula
                    </ion-col>
                    <ion-col>
                        Acciones
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item class="tabla-datos" lines="inset" *ngFor="let pacientes of pacientes">
            <ion-grid class="tabla-paciente">
                <ion-row>
                    <ion-col>
                        <h6>{{pacientes.nombre_paciente}}</h6>
                    </ion-col>
                    <ion-col>
                        <h6>{{pacientes.apellido_paciente}}</h6>
                    </ion-col>
                    <ion-col>
                        <h6>{{pacientes.telefono_paciente}}</h6>
                    </ion-col>
                    <ion-col>
                        <h6>{{pacientes.cedula_paciente}}</h6>
                    </ion-col>
                    <ion-col>
                        <ion-icon name="create-outline" style="zoom: 2;" [routerLink]="['/paciente-update/',pacientes.id_paciente]"></ion-icon>
                        <ion-icon name="trash-bin-outline" style="zoom: 2;" (click)="delePaciente(pacientes.id_paciente)"></ion-icon>
                        <ion-icon name="add-circle-outline" style="zoom: 2;" [routerLink]="['/paciente-add-area/',pacientes.id_paciente]"></ion-icon>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

    </ion-card>

</ion-content>