<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="titulo">Asignar área a paciente</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-list class="list-asignar">
            <ion-item>
                <ion-label class="subtitulo" position="floating">id:</ion-label>
                <ion-input class="subtitulo" disabled [(ngModel)]="id" type="number"></ion-input>
            </ion-item>
<!--
            <ion-item>
                <ion-label class="subtitulo">Estado</ion-label>
                <ion-select class="subtitulo" [(ngModel)]="estados" type="number">
                    <ion-select-option value='1'>Activo</ion-select-option>

                </ion-select>

            </ion-item>
-->
            <ion-item>
                <ion-label class="subtitulo">Área</ion-label>
                <ion-select class="subtitulo" [(ngModel)]="area" type="number">
                    <ion-select-option value='1'>Sonografia</ion-select-option>
                    <ion-select-option value='2'>Laboratorio</ion-select-option>
                    <ion-select-option value='3'>Odontologia</ion-select-option>
                    <ion-select-option value='4'>Rayos-X</ion-select-option>

                </ion-select>
            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-button class="subtitulo" type="button" (click)="areaCheck()" color="primary" shape="round" expand="block"> asignar area </ion-button>
                </ion-col>
            </ion-row>
        </ion-list>
    </ion-card>
</ion-content>