ion-card {
    width: 900px;
    height: 330px;
    padding: 50px;
    border-radius: 10px;
    margin: auto;
    background-color: #4cf1b2;
}

ion-label {
    color: black;
}

.list-asignar {
    border-radius: 10px;
    height: 230px;
}

ion-button {
    border-radius: 20px;
}

ion-title {
    text-align: center;
}

.select {
    height: 45px;
    width: 700px;
    margin: 15px 0 0 35px;
}