.title {
    text-align: center;
    padding: 50px 0 20px;
}

.title h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    color: #262626;
    text-transform: uppercase;
}

.card_principal {
    width: 50%;
    height: 250px;
    margin: auto;
    box-shadow: 0 15px 40px rgba(2, 104, 33, 0.61);
    border-radius: 10px;
}

.card_datos {
    width: 95%;
    margin: auto;
    box-shadow: 0 15px 15px rgba(2, 104, 33, 0.61);
    border-radius: 10px;
}

.brn_enviar {
    width: 94%;
    margin: auto;
    border-radius: 20px;
    margin-left: 3%;
}

.brn_siguiente {
    margin: auto;
    width: 95%;
}

.inputs {
    width: 90%;
    border-radius: 20px;
    margin: auto;
}

ion-label {
    margin-left: 20px;
}

.select {
    width: 95%;
    border-radius: 20px;
    margin: auto;
}

.label_selArea {
    margin-left: 30px;
}

@media screen and (max-width: 480px) {
    .aparecer {
        margin-left: -28%;
        transition: all 0.5s ease-in-out;
    }
    .ocultar {
        transition: all 0.5s ease-in-out;
    }
}