.title h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    color: #262626;
    text-transform: uppercase;
}

.search {
    width: 94%;
    border-radius: 20px;
    margin: auto;
    background-color: rgb(213, 241, 224);
}

.card_resultados {
    margin: auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
}

@media screen and (max-width: 480px) {
    .aparecer {
        margin-left: -28%;
        transition: all 0.5s ease-in-out;
    }
    .ocultar {
        transition: all 0.5s ease-in-out;
    }
}