<!-- Informacion del paciente  -->

<form action="" class="animated fadeIn">
    <div class="card">
        <div class="card-title">
            <h2>Informacion del paciente</h2>
        </div>
        <div class="card-item ">
        <div class="form-group">
            <div class="input-item">
                <input placeholder="" class="form-control" type="text">
            </div>
        </div>
          <div class="form-group">
            <div class="input-item">
                <input placeholder="Nombre" class="form-control" type="text">
            </div>
          </div>
        <div class="form-group">
            <div class="input-item">
                <input placeholder="Apellido" class="form-control" type="text">
            </div>
        </div>
           <div class="form-group">
            <div class="input-item">
                <input placeholder="Tipo de Sangre" class="form-control" type="text">
            </div>
           </div>
          <div class="form-group">
            <div class="input-item">
                <input placeholder="ARS" class="form-control" class="form-control" type="text">
            </div>
          </div>
          <div class="form-group">
            <div class="input-item">
                <input placeholder="Padecimientos" class="form-control" type="text">
            </div>
          </div>
            <div class="form-group">
                <div class="input-item">
                    <input placeholder="Alergias" class="form-control" type="text">
                </div>
            </div>
           <div class="form-group">
            <select class="form-select" aria-label="Default select example">
                <option selected>Sexo</option>
                <option value="1">Masculino</option>
                <option value="2">Femenino</option>
              </select>
           </div>
        </div>
        <div class="card-item-2-tabla">
            <div class="card-item-2">
                <div class="card-item-2-input mt-2">
                    <input placeholder="Codigo: " class="form-control" type="text">
                </div>
                <div class="card-item-2-input mt-2">
                    <input placeholder="Estudios:" class="form-control" type="text">
                </div>
                <div class="card-item-2-input mt-2">
                    <input placeholder="Costo RD$:" class="form-control" type="number">
                </div>
                <div class="card-item-2-btn">
                    <button class="" mat-raised-button color="primary">Guardar</button>
                </div>
            </div>
            <div class="card-tabla">
                <table class="table table-striped ">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Estudio</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Tipo de Sangre</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <th>A+</th>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>O-</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>O+</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</form>