.card_orina {
    margin: auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
}

.card_tipificacion {
    margin: auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
}

.card_Coprologico {
    margin: auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
}

.card_covid19 {
    margin: auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
}

input {
    border-radius: 20px;
}

.btn_resultados {
    margin-left: 83%;
}