<ion-app>
    <ion-split-pane contentId="main">
        <!--  the side menu  -->
        <ion-menu contentId="main">
            <ion-header>
                <ion-toolbar>
                    <ion-title class="titulo">QHServices</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-menu-toggle autoHide=false>
                    <ion-item button=true detail=true [routerLink]="[ '/usuario-registro' ]">
                        <ion-label class="normal">Registro de usuario</ion-label>
                        <ion-icon slot="start" name="person-add-outline"></ion-icon>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle autoHide=false>
                    <ion-item button=true detail=true [routerLink]="[ '/paciente-registro' ]">
                        <ion-label class="normal">Registro de paciente</ion-label>
                        <ion-icon slot="start" name="people-outline"></ion-icon>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle autoHide=false>
                    <ion-item button=true detail=true [routerLink]="[ '/rayos-x' ]">
                        <ion-label class="normal">Rayos X</ion-label>
                        <ion-icon slot="start" name="pulse-outline"></ion-icon>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle autoHide=false>
                    <ion-item button=true detail=true [routerLink]="[ '/sonografia' ]">
                        <ion-label class="normal">Sonografía</ion-label>
                        <ion-icon slot="start" name="tv-outline"></ion-icon>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle autoHide=false>
                    <ion-item button=true detail=true [routerLink]="[ '/laboratorio' ]">
                        <ion-label class="normal">Laboratorio</ion-label>
                        <ion-icon slot="start" name="flask-outline"></ion-icon>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle autoHide=false>
                    <ion-item button=true detail=true [routerLink]="[ '/odontologia' ]">
                        <ion-label class="normal">Odontología</ion-label>
                        <ion-icon slot="start" name="happy-outline"></ion-icon>
                    </ion-item>
                </ion-menu-toggle>
            </ion-content>
        </ion-menu>

        <!-- the main content -->
        <ion-router-outlet id="main"></ion-router-outlet>
    </ion-split-pane>
</ion-app>