select {
    height: 30px;
    width: 130px;
}

label {
    position: relative;
}

ion-card {
    background-color: #383a3e;
}

ion-menu {
    width: 300px;
    --ion-background-color: var(--ion-color-primary);
    --ion-text-color: var(--ion-color-secondary-contrast: #ffffff;
    );
}