ion-menu {
    width: 300px;
    --ion-background-color: var(--ion-color-success);
    --ion-text-color: var(--ion-color-secondary-contrast: #ffffff;
    );
    ion-title {
        height: 80px;
    }
    ion-img {
        width: 80px;
        height: 80px;
        margin-left: 70PX;
    }
}