select {
    height: 30px;
    width: 130px;
}

ion-label {
    position: relative;
    color: white;
}

ion-card {
    background-color: #383a3e;
}

ion-menu {
    width: 300px;
    border-radius: 0 20px 50px 0px;
    --ion-background-color: var(--ion-color-success);
    --ion-text-color: var(--ion-color-secondary-contrast: #ffffff;
    );
    ion-title {
        height: 80px;
    }
}