
#sidebar-container
{
    min-height: 100vh;
    transition: margin .25 ease-in-out;
    // margin-left: 18rem;
}

#sidebar-container .logo
{
    padding: .875rem 1.25rem;
    font-size: 2rem;
}

#sidebar-container .menu
{
    width: 18rem;
}


li{
    cursor: pointer;
}
.toggle{
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .aparecer{
        margin-left: 28%;
        transition:all 0.5s ease-in-out;
    }
    .ocultar{
        transition: all 0.5s ease-in-out;
    }
    
}

