
li{
    cursor: pointer;
}
.toggle{
    cursor: pointer;
}




@media screen and (max-width: 480px) {
    .aparecer{
        margin-left: -28%;
        transition:all 0.5s ease-in-out;
    }
    .ocultar{
        transition: all 0.5s ease-in-out;
}
    
}
    

