
.card-principal {
    width: 600px;
    padding: 8px;
    border-radius: 10px;
    margin: auto;
    background-color: #4cf1b2;
}

.ion-searchbar{
    background-color: transparent !important;
}
.list-usuarios {
    border-radius: 10px;
}

.user_item {
    border-radius: 10px;
    width: 530px;
    margin: auto;
}

ion-input {
    width: 250px;
    height: 35px;
    padding: 16px;
    background-color: #ccc;
    border-color: var(--ion-color-medium-shade);
    border-radius: 8px;
    border-width: 1px;
    margin: auto;
    box-shadow: 2px rgb(255, 255, 255);
    background: #f8f9fa;
}

ion-title {
    text-align: center;
}

.form-usuario {
    margin: auto;
}

.label {
    margin-left: 10px;
}

.select-estado {
    height: 35px;
    border-radius: 8px;
    font-size: 13px;
    width: 250px;
    margin: auto;
}

.select-posicion {
    height: 35px;
    border-radius: 8px;
    font-size: 13px;
    width: 250px;
    margin: auto;
}

ion-button {
    width: 530px;
    margin: auto;
    margin-bottom: 20px;
}

.list {
    width: 530px;
    margin: auto;
}

ion-searchbar {
    width: 545px;
    margin: auto;
    margin-bottom: 20px;
}