<div class="animated fadeIn">

    <div class="title">
        <h1>Lista de Pacientes en Sonografia</h1>
    </div>
    <div class="container1 animated fadeIn borde">
        <div class="avatar-left"></div>
        <div class="table-rigth">

            <table id="tabla" class="table table-hover">
                <thead class="">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Cédule</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sonografia of sonografias;let i=index;">
                        <th>{{i+1}}</th>
                        <td>{{sonografia.nombre_paciente}}k</td>
                        <td>{{sonografia.apellido_paciente}}</td>
                        <td>{{sonografia.cedula_paciente}}</td>
                        <td>{{sonografia.telefono_paciente}}</td>
                        <td>
                            <ion-button [routerLink]="['/sonografia-update/',sonografia.id_col_sonografia]"> Liberar</ion-button>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>