ion-card {
    width: 800px;
    height: 350px;
    padding: 25px;
    border-radius: 10px;
    margin: 15px 0 0 280px;
    background-color: rgb(151, 247, 156);
}

.list-lista-sonografias {
    border-radius: 10px;
}

ion-title {
    text-align: center;
}