<ion-header>
    <ion-toolbar>
        <ion-title class="titulo">Rayos X </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-list class="list-lista-sonografias">
            <ion-list-header class="subtitulo">
                Cola Rayos X
            </ion-list-header>
            <ion-item lines="inset" *ngFor="let nombres of nombres">
                <ion-label>
                    <h5 class="normal">{{nombres.nombre}} - ({{nombres.rol}}, {{nombres.estado}})</h5>
                </ion-label>

            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>