<ion-header>
    <ion-toolbar>
        <ion-title style="height: 80px;" class="titulo">Rayos X </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-list class="list-lista-sonografias">
            <ion-list-header class="subtitulo">
                Cola Rayos X
            </ion-list-header>
            <ion-item lines="inset" *ngFor="let rayos_x of rayos_x">
                <ion-label>
                    <h5 class="normal">{{rayos_x.nombre_paciente}} - {{rayos_x.apellido_paciente}}-{{rayos_x.cedula_paciente}}-{{rayos_x.telefono_paciente}}</h5>
                </ion-label>
                <div class="item-note">
                    <ion-button [routerLink]="['/rayos-x-update/',rayos_x.id_col_rayosx]">Liberar</ion-button>
                </div>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>