ion-card {
    width: 900px;
    height: 300px;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
    background-color: #4cf1b2;
}

ion-title {
    text-align: center;
}

h3 {
    text-align: center;
    color: black;
}

.lista {
    border-radius: 10px;
}