<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="titulo">Rayos X</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>

        <ion-list-header>
            <h3 class="subtitulo">Cola de Rayos X</h3>
        </ion-list-header>


        <ion-card >
            <ion-card-header >

                <ion-item lines="inset" *ngFor="let nombres of nombres">
                    <ion-label color="primary">
                        <h5 class="normal">{{nombres.nombre}} - ({{nombres.rol}}, {{nombres.estado}})</h5>
                    </ion-label>

                </ion-item>
            </ion-card-header>
        </ion-card>

    </ion-list>

</ion-content>