ion-card {
    width: 750px;
    height: 300px;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(94, 243, 101);
}

ion-title {
    text-align: center;
}

h3 {
    text-align: center;
    color: black;
}

.lista {
    border-radius: 10px;
}