.card_sonoAbdo_report {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
}

.card_principal {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
}

.btn_exportar {
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-left: 10%;
}

.addScroll {
    overflow-y: auto;
    max-height: 600px;
}