<ion-header>
    <ion-toolbar>
        <ion-title>Reportes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <br><br><br><br><br>
    <div id="wrapper">  
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
            </div>
            <footer class="sticky-footer bg-white mb-5">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; QH Services 2021</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</ion-content>