<ion-content class="animated fadeIn">

    <h2 style="margin-left: 50px;text-transform: uppercase;">Odontodologia</h2>
  <ion-card>
      <ion-item>
          <ion-grid class="tabla-paciente">
              <ion-row>
                  <ion-col>
                      No.
                  </ion-col>
                  <ion-col>
                      Nombre
                  </ion-col>
                  <ion-col>
                      Apellido
                  </ion-col>
                  <ion-col>
                      Cédula
                  </ion-col>
                  <ion-col>
                      Teléfono
                  </ion-col>
                  <ion-col>
                      Acciones
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-item>

      <ion-item lines="inset" *ngFor="let odontologia of odontologia ;let i=index;">
          <ion-grid class="tabla-paciente">
              <ion-row>
                  <ion-col>
                      <h5>{{i+1}} </h5>
                  </ion-col>
                  <ion-col>
                      <h5 class="normal">{{odontologia.nombre_paciente}} </h5>
                  </ion-col>
                  <ion-col>
                      <h5 class="normal">{{odontologia.apellido_paciente}}</h5>
                  </ion-col>
                  <ion-col>
                      <h5 class="normal">{{odontologia.cedula_paciente}}</h5>
                  </ion-col>
                  <ion-col>
                      <h5 class="normal">{{odontologia.telefono_paciente}}</h5>
                  </ion-col>
                  <ion-col>
                      <ion-button [routerLink]="['/odontologia-update/',odontologia.id_col_odontologia]">liberar</ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-item>

  </ion-card>
</ion-content>