ion-card {
    width: 900px;
    height: 350px;
    padding: 25px;
    border-radius: 10px;
    margin: auto;
    background-color: #4cf1b2;
}

.list-lista-laboratorio {
    border-radius: 10px;
}

ion-title {
    text-align: center;
}