<div class="animated fadeIn">
    <div class="title">
        <h1>Lista de Pacientes en Laboratorio</h1>
    </div>
    <div class="container1 animated fadeIn borde">
        <div class="avatar-left"></div>
        <div class="table-rigth">

            <table id="tabla" class="table table-hover">
                <thead class="">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let laboratorios of laboratorios ;let i=index;">
                        <th>{{i+1}}</th>
                        <td>{{laboratorios.nombre_paciente}}</td>
                        <td>{{laboratorios.apellido_paciente}}</td>
                        <td>{{laboratorios.cedula_paciente}}</td>
                        <td>{{laboratorios.telefono_paciente}}</td>
                        <td>
                            <ion-button [routerLink]="['/laboratorio-update/',laboratorios.id_col_laboratorio]"> Liberar</ion-button>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>