<div class="animated fadeIn">
    <div class="form-row ml-5">
        <div class="col-1">
            <button class="btn btn-outline-danger w-100" (click)="getResultados()">Analisis</button>
        </div>
        <div class="col-1 mr-2">
            <button class="btn btn-outline-success">Resultados</button>
        </div>
        <div class="col-1">
            <button class="btn btn-outline-primary">Formularios</button>
        </div>
    </div>
    <div class="title">
        <h1>Lista de Pacientes en Laboratorio</h1>
    </div>
    <div class="container1 animated fadeIn borde">
        <div class="avatar-left"></div>
        <div class="table-rigth">

            <table id="tabla" class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col-2">No</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    <tr></tr>
                </thead>
                <tbody>
                    <tr *ngFor="let laboratorios of laboratorios | paginate:{itemsPerPage: 4,currentPage:p} ;let i=index;">
                        <th>{{(p-1) * 5 + i + 1}}</th>
                        <td>{{laboratorios.nombre_paciente}}</td>
                        <td>{{laboratorios.apellido_paciente}}</td>
                        <td>{{laboratorios.cedula_paciente}}</td>
                        <td>{{laboratorios.telefono_paciente}}</td>
                        <td>
                            <ion-button [routerLink]="['/laboratorio-update/',laboratorios.id_col_laboratorio]"> Liberar</ion-button>
                        </td>
                </tbody>

            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>