.datos-personales {
    width: 850px;
    height: 580px;
    border-radius: 10px;
    background-color: #4cf1b2;
    padding: 10px;
    margin: auto;
}

ion-label {
    color: black;
}

ion-input {
    width: 250px;
    height: 35px;
    padding: 16px;
    background-color: #ccc;
    border-color: var(--ion-color-medium-shade);
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 2px gray;
    background: #f8f9fa;
}

input {
    background-color: white;
}

.h1 title {
    color: black;
}

ion-scroll {
    height: 100px;
}

.card-list {
    border-radius: 10px;
}

.card-lista-paciente {
    border-radius: 10px;
}

.date {
    background-color: white;
    border-radius: 8px;
    width: 250px;
    height: 36px;
    margin: auto;
    border-color: white;
}

ion-title {
    text-align: center;
}

.select {
    height: 35px;
    width: 600px;
    font-size: 13px;
    margin: 15px 0 0 43px;
}

.select-ars {
    height: 35px;
    width: 600px;
    font-size: 13px;
    margin: 15px 0 0 125px;
}

.select-sexo {
    height: 35px;
    width: 600px;
    font-size: 13px;
    margin: 15px 0 0 120px;
}