<ion-content>
    <br>
    <div>
        <ion-img class="imagen_paciente" src="assets/image/UserUpdate.png"></ion-img>
    </div>
    <br>
    <div class="title">
        <h1 style="text-align: center;">ACTUALIZAR DATOS DE PACIENTES</h1>
    </div>
    <ion-card class="datos-personales2">

        <ion-grid>
            <ion-row>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="nombre" placeholder="Nombres" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="apellido" placeholder="Apellidos" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="cedula" placeholder="Identificación" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="telefono" placeholder="Teléfono" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="alergias" placeholder="Alergias" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="padecimientos" placeholder="Padecimientos" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="ocupacion" placeholder="Ocupación" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                    <div class="mt-2 inputIcon">
                        <input type="text" [(ngModel)]="direccion" placeholder="Dirección" class="form-control inputs" is-valid id="validationServer01" value="Mark" required>
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        <input class="date subtitulo2" placeholder="Fecha de nacimiento" [(ngModel)]="fecha_nacimiento" type="date" id="start" name="trip-start" value="2018-07-22" min="1910-01-01" max="hoy">
                    </div>
                    <div>
                        <select [(ngModel)]="tipo_sangre" class="form-select form-select-lg mt-2 select_sangre">
                            <option value="Nada" selected disabled>Seleccione tipo de sangre</option>
                        <option value='A Negativo'>A Negativo</option>
                        <option value='A Positivo'>A Positivo</option>
                        <option value='B Negativo'>B Negativo</option>
                        <option value='B Positivo'>B Positivo</option>
                        <option value='AB Negativo'>AB Negativo</option>
                        <option value='AB Positivo'>AB Positivo</option>
                        <option value='O Negativo'>O Negativo</option>
                        <option value='O Positivo'>O Positivo</option>
                        </select>
                    </div>
                    <div>
                        <select [(ngModel)]="sexo" class="form-select form-select-lg mt-2 select-sexo">
                            <option value="Nada" selected disabled>Seleccione el sexo</option>
                            <option  value='Masculino'>Masculino</option>
                            <option value='Femenino'>Femenino</option>
                            <option value='Sin especificar'>Sin especificar</option>
                          </select>
                    </div>
                    <div>
                        <select [(ngModel)]="ars" class="form-select form-select-lg mt-2 select-ars">
                            <option value="Nada" selected disabled>Seleccione la ARS</option>
                            <option  value='ARS BMI'>ARS BMI</option>
                            <option value='Primera ARS Humano'>Primera ARS Humano</option>
                            <option value='ARS Palic Salud'>ARS Palic Salud</option>
                            <option value='ARS La Colonial'>ARS La Colonial</option>
                            <option  value='ARS Monumental'>ARS Monumental</option>
                            <option value='ARS Renacer'>ARS Renacer</option>
                            <option value='ARS Simag'>ARS Simag</option>
                            <option value='ARS Universal'>ARS Universal</option>
                            <option value='ARS Yunén'>ARS Yunén</option>
                            <option value='Seguro Nacional de Salud -SENASA-'>Seguro Nacional de Salud -SENASA-</option>
                            <option  value='ARS Grupo Médico Asociado -ARS GMA-'>ARS Grupo Médico Asociado -ARS GMA-</option>
                            <option value='ARS Futuro'>ARS Futuro</option>
                          </select>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div>
            <ion-button class="subtitulo2 btn_Update" type="button" (click)="updatePaciente()" color="success" shape="round" expand="block"> Actualizar pacientes </ion-button>
        </div>


    </ion-card>
</ion-content>