.datos-personales {
    width: 850px;
    height: 525px;
    border-radius: 10px;
    background-color: #5aeeb5;
    padding: 16px;
    margin: 15px 0 0 255px;
}

ion-label {
    color: black;
}

ion-input {
    width: 250px;
    padding: 16px;
    background-color: #ccc;
    border-color: var(--ion-color-medium-shade);
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 2px gray;
    background: #f8f9fa;
}

input {
    background-color: white;
}

.h1 title {
    color: black;
}

ion-scroll {
    height: 100px;
}

.card-list {
    border-radius: 10px;
}

.card-lista-paciente {
    border-radius: 10px;
}

ion-datetime {
    background-color: white;
    border-radius: 8px;
    width: 250px;
}

ion-title {
    text-align: center;
}