<div class="container-fluid animated fadeIn">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <!-- <button class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" type="button">
            <i class="fas fa-user fa-sm text-white-50"></i> Nueva Cuenta de Usuario</button> -->
    </div>
    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Rayos X</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{rayos_x}}</div>
                        </div>
                        <div class="col-auto">
                            <ion-icon slot="start" class="fa-2x text-gray-300" name="pulse-outline"></ion-icon>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Sonografias </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{sonografia}}</div>
                        </div>
                        <div class="col-auto">
                            <ion-icon slot="start" class="fa-2x text-gray-300" name="tv-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Laboratorio
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{laboratorio}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <ion-icon slot="start" class="fa-2x text-gray-300" name="flask-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Odontodologia</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{odontologia}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-fw fa-tooth fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content table -->
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h4 mb-0 text-gray-800">Lista de Pacientes en Sala de Espera</h3>
        </div>

    <div class="container table-container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Paciente</th>
              <th scope="col">Turno</th>
              <th scope="col">Condicción</th>
              <th scope="col">Area de Atención</th>
              <th scope="col">Estado</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <th>1</th>
                <td>Juan</td>
                <td>MG-8</td>
                <td>Estable</td>
                <td>Medicina General</td>
                <td><span class="badge bg-success">consulta</span></td>
                <td><i class="fa fa-edit mr-2 text-primary cambios"></i><i class="fa fa-trash text-danger cambios"></i></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Juan Garcia</td>
                <td>OC-3</td>
                <td>Estable</td>
                <td>Odontodologia</td>
                <td><span class="badge bg-success">consulta</span></td>
                <td><i class="fa fa-edit mr-2 text-primary cambios"></i><i class="fa fa-trash text-danger cambios"></i></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Julio Mengar</td>
                <td>MG-5</td>
                <td>Estable</td>
                <td>Medicina General</td>
                <td><span class="badge bg-warning">Espera</span></td>
                <td>
                    <i class="fa fa-edit mr-2 text-primary cambios"></i>
                    <i class="fa fa-trash text-danger cambios"></i>
                </td>
              </tr>
          </tbody>
        </table>
        </div>


</div>