<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="titulo">
            <div>
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <form class="d-flex ">
                            <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
                            <button style="background-color: rgb(59, 221, 121);" class="btn btn-outline-success" type="submit"><ion-icon style="color: white;" name="search"></ion-icon></button>
                        </form>
                        <h5 class="subtitulo" style="margin-left: 650px;">Administrador</h5>
                        <ion-icon style="margin:auto; margin-right: 80px; color: rgb(87, 46, 236) ;" name="person"></ion-icon>
                    </div>
                </nav>
            </div>

        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h1 class="titulo">Dashboard</h1>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card class="rayos-x">
                    <ion-item>
                        <ion-label class="normal">Rayos X:</ion-label>
                        <ion-icon slot="start" name="pulse-outline"></ion-icon>
                        <h5 class="h5_rayos_x subtitulo"> {{rayos_x}} </h5>

                    </ion-item>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="sonografia">
                    <ion-item>
                        <ion-label class="normal">Sonografía:</ion-label>
                        <ion-icon slot="start" name="tv-outline"></ion-icon>
                        <h5 class="h5_sonografia subtitulo"> {{sonografia}} </h5>
                    </ion-item>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="laboratorio">
                    <ion-item>
                        <ion-label class="normal">Laboratorio:</ion-label>
                        <ion-icon slot="start" name="flask-outline"></ion-icon>
                        <h5 class="h5_laboratorio subtitulo"> {{laboratorio}} </h5>
                    </ion-item>

                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="odontologia">
                    <ion-item>
                        <ion-label class="normal">Odontología:</ion-label>
                        <ion-icon slot="start" name="happy-outline"></ion-icon>
                        <h5 class="h5_odontologia subtitulo"> {{odontologia}} </h5>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <h1 class="titulo">Lista de Pacientes</h1>
    <table class="table tabla_dashboard">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Nombre</th>
                <th scope="col">Turno</th>
                <th scope="col">Condicion</th>
                <th scope="col">Area de atencion</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Elenmanuel</td>
                <td>MG-8</td>
                <td>Estable</td>
                <td>Laboratorio</td>
                <ion-button>Espera</ion-button>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Ericcson</td>
                <td>MG-9</td>
                <td>@Estable</td>
                <td>Odontologia</td>
                <ion-button>Espera</ion-button>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Luisa</td>
                <td>MG-10</td>
                <td>@Estable</td>
                <td>Sonografia</td>
                <ion-button>Espera</ion-button>
            </tr>

        </tbody>
    </table>

    <!--
    <ion-list>
        <ion-item>
            <ion-label style="text-align: left;">No.</ion-label>
            <ion-label style="text-align: left;">Nombre</ion-label>
            <ion-label style="text-align: left;">Turno</ion-label>
            <ion-label style="text-align: left;">Condicion</ion-label>
            <ion-label style="text-align: left;">Area de atencion</ion-label>
            <ion-label style="text-align: left;">Estado</ion-label>
        </ion-item>
    </ion-list>


    <ion-list>
        <ion-item>
            <ion-label style="text-align: left;">1</ion-label>
            <ion-label style="text-align: left;">Elenmanuel</ion-label>
            <ion-label style="text-align: left;">MG-8</ion-label>
            <ion-label style="text-align: left;">Estable</ion-label>
            <ion-label style="text-align: left;">Laboratorio</ion-label>
            <ion-button color="success">
                Colsulta
            </ion-button>
        </ion-item>

        <ion-item>
            <ion-label style="text-align: left;">1</ion-label>
            <ion-label style="text-align: left;">Elenmanuel</ion-label>
            <ion-label style="text-align: left;">MG-8</ion-label>
            <ion-label style="text-align: left;">Estable</ion-label>
            <ion-label style="text-align: left;">Laboratorio</ion-label>
            <ion-button color="warning">
                Espera
            </ion-button>
        </ion-item>

        <ion-item>
            <ion-label style="text-align: left;">1</ion-label>
            <ion-label style="text-align: left;">Elenmanuel</ion-label>
            <ion-label style="text-align: left;">MG-8</ion-label>
            <ion-label style="text-align: left;">Estable</ion-label>
            <ion-label style="text-align: left;">Laboratorio</ion-label>
            <ion-button color="success">
                Colsulta
            </ion-button>
        </ion-item>

        <ion-item>
            <ion-label style="text-align: left;">1</ion-label>
            <ion-label style="text-align: left;">Elenmanuel</ion-label>
            <ion-label style="text-align: left;">MG-8</ion-label>
            <ion-label style="text-align: left;">Estable</ion-label>
            <ion-label style="text-align: left;">Laboratorio</ion-label>

            <ion-button color="warning">
                Espera
            </ion-button>
        </ion-item>

        <ion-item>
            <ion-label style="text-align: left;">1</ion-label>
            <ion-label style="text-align: left;">Elenmanuel</ion-label>
            <ion-label style="text-align: left;">MG-8</ion-label>
            <ion-label style="text-align: left;">Estable</ion-label>
            <ion-label style="text-align: left;">Laboratorio</ion-label>
            <ion-button color="success">
                Colsulta
            </ion-button>
        </ion-item>

        <ion-item>
            <ion-label style="text-align: left;">1</ion-label>
            <ion-label style="text-align: left;">Elenmanuel</ion-label>
            <ion-label style="text-align: left;">MG-8</ion-label>
            <ion-label style="text-align: left;">Estable</ion-label>
            <ion-label style="text-align: left;">Laboratorio</ion-label>
            <ion-button color="warning">
                Espera
            </ion-button>
        </ion-item>


    </ion-list>
    -->
</ion-content>