<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="titulo">
            Módulos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h1 class="titulo">Dashboard</h1>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card class="rayos-x">
                    <ion-item>
                        <ion-label class="normal">Rayos X</ion-label>
                        <ion-icon slot="start" name="pulse-outline"></ion-icon>
                        <label>8</label>
                    </ion-item>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="sonografia">
                    <ion-item>
                        <ion-label class="normal">Sonografía</ion-label>
                        <ion-icon slot="start" name="tv-outline"></ion-icon>
                        <label>12</label>
                    </ion-item>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="laboratorio">
                    <ion-item>
                        <ion-label class="normal">Laboratorio</ion-label>
                        <ion-icon slot="start" name="flask-outline"></ion-icon>
                        <label>5</label>
                    </ion-item>

                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card class="odontologia">
                    <ion-item>
                        <ion-label class="normal    ">Odontología</ion-label>
                        <ion-icon slot="start" name="happy-outline"></ion-icon>
                        <label>8</label>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>