<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Módulos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-row>
            <ion-col>
                <ion-button [routerLink]="['/usuario-registro']" type="button" color="primary" shape="round" expand="block"> usuario registro </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button [routerLink]="['/paciente-registro']" type="button" color="primary" shape="round" expand="block"> paciente registro </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button [routerLink]="['/rayos-x']" type="button" color="primary" shape="round" expand="block"> rayos x </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button [routerLink]="['/sonografia']" type="button" color="primary" shape="round" expand="block"> sonografia </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button [routerLink]="['/login']" type="button" color="primary" shape="round" expand="block"> Login </ion-button>
            </ion-col>
        </ion-row>

    </ion-card>
</ion-content>