<div class="card animated fadeIn">
  <div class="container">
      <!-- <div class="card-header">
          <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Cedula</mat-label>
              <input class="input_nombre" matInput type="text" >
          </mat-form-field>

          <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Nombre</mat-label>
              <input class="input_nombre" matInput type="text" >
          </mat-form-field>
          <div class="card-btn">
              <button class="btn btn-primary">Buscar Paciente</button>
          </div>
      </div> -->
      <div class="container-tabla ">
          <table class="table table-success table-striped">
              <thead class="thead-dark">
                  <tr>
                      <th>Cedula</th>
                      <th>Nombre</th>
                      <th>Descripcion</th>
                      <th>Numero de Telefono</th>
                  </tr>
                  <tr>
                    <td>225-262656-2</td>
                    <td>Maria</td>
                    <td>Perez</td>
                    <td>809-666-5555</td>
                  </tr>
                  <tr>
                    <td>227-666665-5</td>
                    <td>Luis</td>
                    <td>taveras</td>
                    <td>809-554-5555</td>
                  </tr>
              </thead>
          </table>
      </div>

  <div class="card-body">
      <form [formGroup]="formInformacion" class="card-body-iformacion">
              <div class="form-group">
                <input class="form-control" placeholder="Cedula/Pasaporte"  matInput type="text" formControlName="cedula">  
              </div>       
              <div class="form-group">
                <input class="form-control" placeholder="Nombre Completo" matInput type="text" formControlName="nombre_completo">
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Tipo de Sangre" matInput type="text"  formControlName="tipoDeSangre">
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="ARS" matInput type="text"  formControlName="ars">
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Padecimientos" matInput type="text"  formControlName="padecimientos">
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Alergias" matInput type="text"  formControlName="alergias">
              </div>
          <!-- seleccionar sexo -->
          <select class="form-select form-control" aria-label="Sexo">
            <option value="1">Masculino</option>
            <option value="2">Femenenino</option>
          </select>
              </form>
      <div class="card-body-item">
          <div class="contenedor-tabla-2">
              <table  class="table table-striped">
                  <thead class="thead-dark">
                      <tr>
                          <th>Codigo</th>
                          <th>Estudios</th>
                          <th>Descripcion</th>
                          <th>Estado</th>
                      </tr>

                      <tr>
                        <td>CD-55</td>
                        <td>Glucosa</td>
                        <td>Lorem ipsum dolor sit amet.</td>
                        <td>Estable</td>
                      </tr>
                  </thead>
              </table>
          </div>
          <div class="card-btn">
              <div class="btn-item">
                  <button class="btn btn-warning">Borrar Estudio</button>
              </div>
              <div class="btn-item">
                  <button class="btn btn-success">Eliminar Resultado</button>
              </div>
              <div>
                  <button (click)="getDataForm()" class="btn btn-primary">Imprimir resultados</button>
              </div>
          </div>
      </div>
  </div>

</div>
</div>