<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title style="height: 80px;" class="titulo">Actualizar datos de usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-principal" color="Dark">
      <ion-grid>
          <ion-row>
              <ion-col>
                  <ion-label class="subtitulo2 label" position="floating">Usuario:</ion-label>
                  <ion-input class="subtitulo2" [(ngModel)]="nombre" type="text"></ion-input>
              </ion-col>
              <ion-col>
                  <ion-label class="subtitulo2 label" position="floating">Contraseña:</ion-label>
                  <ion-input class="subtitulo2" [(ngModel)]="contrasena" type="text"></ion-input>
              </ion-col>
          </ion-row>
      </ion-grid>

      <ion-grid>
          <ion-row>
              <ion-col>
                  <label class="subtitulo2 label">Posición:</label>
                  <select [(ngModel)]="rol" class="form-select form-select-lg mb-3 select-posicion">
              <option value='Laboratorio'>Laboratorio</option>
              <option value='Odontología'>Odontología</option>
              <option value='Rayos X'>Rayos X</option>
              <option value='Recepción'>Recepción</option>
              <option value='Sonografía'>Sonografía</option>
            </select>
              </ion-col>
              <ion-col>
                  <label class="subtitulo2 label">Estado:</label>
                  <select [(ngModel)]="estado" class="form-select form-select-lg mb-3 select-estado">
                  <option value='Activo'>Activo</option>
                  <option value='Inactivo'>Inactivo</option>
                </select>
              </ion-col>
          </ion-row>
      </ion-grid>

      <ion-row>
          <ion-col>
              <ion-button class="subtitulo2" type="button" (click)="UpdateUsuario()" color="primary" shape="shape" expand="block"> Update usuarios </ion-button>
          </ion-col>
      </ion-row>

  </ion-card>
</ion-content>