.card-principal {
    width: 630px;
    height: 300px;
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    background-color: #4cf1b2;
    left: 0em;
}

.list-usuarios {
    border-radius: 10px;
}

.label {
    margin-left: 15px;
}

ion-input {
    width: 250px;
    height: 35px;
    padding: 16px;
    background-color: #ccc;
    border-color: var(--ion-color-medium-shade);
    border-radius: 8px;
    border-width: 1px;
    margin: auto;
    box-shadow: 2px rgb(255, 255, 255);
    background: #f8f9fa;
}

.list-lista-usuarios {
    border-radius: 10px;
}

ion-title {
    text-align: center;
}

.select-estado {
    height: 35px;
    border-radius: 8px;
    font-size: 13px;
    width: 250px;
    margin: auto;
}

.select-posicion {
    height: 35px;
    border-radius: 8px;
    font-size: 13px;
    width: 250px;
    margin: auto;
}

ion-button {
    width: 530px;
    margin: auto;
}